.color(@color){
	color:@color;
}
.div_class_categ_attribute_main_class{
	.common-div;
	.mt(8px);
}
.div_class_categ_attribute_name{
	display:inline-block;
}
.div_class_categ_attrib_class_sub_class{
	
    display:inline-block;
    width: 100%;
 	border-top: 1px solid #eee;
	.pt(8px);
}
.a_class_categ_attribute_name{
	.color(#777);
	.size(11px);
	
	&:hover{
		text-decoration:none;
		.color(black);
	}
}

.div_class_attr_value_div label {
    margin: 7px 6px 0px 0px !important;
    width: 9px !important;
    height: 9px !important;
}
.div_class_attr_value_div{
	.mt(1px) !important;
	.ml(5px);
	display:inline-block;
	
	.css_attribute_color 
	{
		border-radius: 100%;
	}
}
.para_class_attr_value_name{
	.size(11px);
	color:#434343;
}
