.view_collapse_div
{
	.left;
}
.view_collapse_sub
{
	width:auto;
	display: inline-block;
}
.clr_all_div
{
	display: inline-block;
	width: auto;
	margin: 0 5px 10px 5px;
}	
.menu_view_filter
{
			color:#666;
			.muli-semibold();
			.left();
			padding: 2px 15px 0 0;
			.capitalize();
			.size(12px);
			letter-spacing: 1px;
}

.attribute{
	display: inline-block;
	margin: 0 5px 10px 5px;
	border: 1px solid @theme-color;
	padding: 4px 8px;
	border-radius: 2px;
	.size(11px);
	float:left;
	  color: #5f5f5f;
	
	
	& > .close-btn{
		.pl(5px);
		.size(7px);
		    vertical-align: top;
		
	}
}
.clear-all-filter
{
	display:none;
	width: auto;
	.right();
	 color: #5f5f5f;
	padding: 4px 8px;
	.uppercase();
	.size(10px);
	
	p
	{
		padding:0 3px;
		display: inline-block;
	}
	
}
.filter-option-h2
{
	.muli-regular();
	.size(22px);
	.mb(5%);
	display:inline-block;
}
.filter_option_style_2_div{
	display:none;
	width: auto;
	.pl(10px);
	.muli-semibold;
	cursor: pointer;
	letter-spacing: 0.5px;
	position: relative;
}

#filter_option_2{
	width: 100%;
	display: none;
	.mt(5px);
	
	& .menu_view_filter_div{
		width:auto;
		padding: 0 10px;
		
		& #pull-out{
			padding: 13px 0px 10px 10px;
		}
		& .clr_all_div{
			padding: 17px 0px 10px 10px;
		}
		.attribute{
			border:1px solid @theme-color;
		}
	}	
}

@media (max-width:800px){
	.filter-option{
		width:400px !important;
	}
}
@media (max-width:500px){
	.filter-option{
		width:300px !important;
	}
}
.zoom-fadein {
	-webkit-animation:animatezoomfade 0.6s;
	animation:animatezoomfade 0.6s
}
@-webkit-keyframes animatezoomfade{
	from{-webkit-transform:scale(0); opacity:0;} 
	to{-webkit-transform:scale(1); opacity:1;}
}
@keyframes animatezoomfade{
	from{transform:scale(0); opacity:0;} 
	to{transform:scale(1); opacity:1;}
}
