.js_optional_product
{
 	left : 20px;
    position: fixed;
    background: #fefefe;
    z-index: 1000;
    border: 0;
	width: 300px;
	height:100px;
	display: inline-block;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
    .mr(20px);
    min-width: 280px;
    
    & .optional-img-main{
    	width:38%;
    	.left;
    	display: block;
    	.mr(10px);
		
    	& .optional-image{
	    	width:115px;
	    	.left;
	    	padding: 3%;
	    	
	    	& img{
	    		width:auto;
	    		max-width:100%;
	    		max-height: 90px;
	    	}
	    }	
    }
    
    & .optional-product-details{
		width: 57%;
		float: left;
		display: block;
		padding-top: 7%;
		max-width: 90%;
		
	    & .optional-product-name , .optional-product-price p{
	    	.size(14px);
	    	width:100%;
	    	display:block;
	    	.muli-semibold;
	    	.ellipsis;
	    	max-width:90% !important;
	    	.pb(4%);
	    	
	    	span
	    	{
	    		.muli-semibold;
	    	}
	    }    	
    }
}
.animate-bottom{
	position:fixed;
	animation:animatebottom 2s;
	bottom:30px;
}

@keyframes animatebottom{
	from{bottom:-300px;opacity:0} 
	to{bottom:20;opacity:1}
}
         
         
