/* offer new snippet */

.main_offer_banner_section
{
	display:inline-block;
	width:100%;
	
	.homepage_offers_snippet_container
	{
		display:block;
		width:90%;
		max-width:1200px;
		margin:0px auto;
	}
}
.offer_images_first_div,.offer_images_second_div,.offer_images_third_div
{
	display:block;
	width:32%;
	.left;
	.mr(10px);
}
.div_offer_img
{
	display:block;
	width:100%;
	position:relative;
	overflow: hidden;
		
	img
	{
		max-width:100%;
		width:auto;
		margin:0px auto;
		display:block;
		-moz-transition: all 1s;
		  -webkit-transition: all 1s;
		  transition: all 1s ease 0s;
		  
	}
}
.div_offer_img &:hover img
	{
		-moz-transform: scale(1.05);
		  -webkit-transform: scale(1.05);
		  transform: scale(1.05);
	}
.offer_detail_div
{
	max-height:270px;
	display:block;
	width:100%;
	padding: 14px 30px 14px;
	text-align: center;
	.mb(10px);

	
	.second_div_detail_para
	{
		.size(15px);
	    color: #898383;
	    line-height: 180%;
	    .muli-light();
		.center;
		.mb(27px);
		max-height: 109px;
		min-height: 109px;
		display:block;
		overflow:hidden;
	}
	.offer_detail_div_btn
	{
		display: inline-block;
		.size(14px);
		line-height: 46px;
		height: 46px;
		letter-spacing: 2px;
		padding: 0 30px;
		.center;
		.uppercase;
		background:@theme-color;
		border-radius: 25px;
		border: none;
		color: #fff;
		transition: all 300ms;
		text-decoration: none;
		.muli-regular();
		
		&:hover
		{
			background: #333;
			color:#fff;	
			transition: background-color linear 0.5s;
		}
	}

}
.first_div_img_one_height
{
	max-height:500px;
	margin-bottom:10px;
}
.first_div_img_two_height
{
	max-height:270px;
}
.second_div_img_height
{
	max-height:500px;
}
.third_div_img_one_height
{
	max-height:385px;
	margin-bottom:10px;
}
.third_div_img_two_height
{
	max-height:385px;
}


@media (max-width: 800px) {

	.offer_images_first_div, .offer_images_second_div, .offer_images_third_div 
	{    
	 
	    width: 100% !important;    
	    float: none !important;
	    .mb(10px);
	}
	.offer_detail_div
	{
		.mb(10%) !important;
		.mt(10%) !important;
		max-width:500px;
		width:90%;
		margin:0px auto;
		
	}
	.div_offer_img img
	{
		transition: unset;
		max-height:300px;
		
		&:hover
		{
			transform: scale(1.0);
		}
	}
}









