.cu_heading
{
	word-spacing: 3px;
	letter-spacing: 5px;
	line-height: 158%;
	.mb(1%);
	.mt(5%);
	.uppercase();
	.size(35px);
	.muli-bold();
}
.cu_subtitle
{
	letter-spacing: 1px;
	color: #8b8b8b;
	.size(13px);
	line-height: 185%;
}
.contactus_label
{
	color:red;
}
.contact_us_form
{
	.form-group
	{
		.mb(5%);
	

		label
		{
			text-align: left;
			color: #646464;
			.size(13px);
			.uppercase();
			padding: 0;
			.mt(10px);
			.pt(5px);
		}
		
		input.form-control
		{
			border-radius: 0;
			border: none;
			box-shadow: unset;
			border-bottom: 1px solid #777;
		}
		textarea.form-control
		{
			border-radius: 0;
			
		}
	}
}
.contact_us_address
{
	padding: 15px;
	border: 1px solid #ccc;
	color: #666;
	
	address
	{
		line-height: 190%;
	}
}

@media (max-width:800px)
{
	.contact_us_form .form-group
	{
		.mb(10%);
	}
	.contact_us_form .form-group label
	{
		.mb(0);
		padding: 0 15px;
	}
	.contact_us_address
	{
		.mb(10%);
	}

}

