.ts3_main_wrap
{
	.common-div;
}
.ts3_main_container
{
	.block;
}
.ts3_left_main
{
	width:40%;
	display:block;
	float:left;
	
	img
	{
		max-height:390px;
	}
}
.ts3_right_main
{
	width:60%;
	display:block;
	float:left;
	.pb(5%);
}
.icon_btm,.icon_top
{
	width:20%;
	display:block;
	float:left;
	
	img
	{
		max-height:90px;
	}
}
.ts3_right_top_div,.ts3_right_btm_div
{
	display:inline-block;
	width:100%;
	.mb(4%);
}
.right_top_desc,.right_btm_desc
{
	width:85%;
	display:block;
	margin:0px auto;
	padding:2%;
	//min-height:180px;
}
.grey_box_heading
{
	.size(18px);
	.muli-semibold();
	line-height:180%;
}
.grey_box_para
{
	.size(14px);
	line-height:175%;
	color:#666;
	max-width:400px;
	.mb(5%);
}
.right_top_desc
{
	.snippet_heading
	{
		text-align:left;
	}
}
.grey_box_read_more
{
	.size(12px);
	.uppercase();
	.muli-bold();
	color:@theme-color;
}
.ts3_check_list_ul
{
	list-style-type: none;
	.mt(5%);
	padding:0;
	.mb(5%);
}
.check_box
{
	width:15px;
	height:15px;
	border:1px solid #ccc;
	display:inline-block;
	vertical-align: text-bottom;
	.mr(5px);
	
	i
	{
		.size(11px);
		vertical-align: text-top;
	}
}
.ts3_li_text
{
	display:inline-block;
}


@media (max-width: 600px) {
		
		.ts3_left_main
		{
			width:100%;
		}
		.ts3_right_main
		{
			width:100%;
		}


}

