/* mixin */
.img-cmn
{
	width:auto;
	max-width:100%;
	display:block;
	margin:0px auto;
}



/*style*/
.ts13_rm_txt
{
		.muli-semibold();
	.size(13px);
	color:#525252;
	.uppercase();
	.mt(5%);
	display:inline-block;
	
	&:hover i
	{
		 transform: translateX(5px);
	     transition-delay: 0.2s;
	     transition-timing-function: ease-in;
	    -webkit-transform: translateX(5px);
	}
}
.c_offer_common
{
	width:100%;
	display:inline-block;
	background-size: cover;
	background-color:#f5f5f5;
	position:relative;
	background-position:center;
}
.c_offer_sub_common
{
	width:90%;
	display:block;
	max-width:1400px;
	margin:0px auto;
}
.tsc2_bottom_heading
{
	.size(17px);
	.uppercase();
	color:#666;
	letter-spacing:1px;
	.mb(20px);
	
	span
	{
		.size(14px);
		.muli-light();
		color: #636363;
		letter-spacing: 0;
		.capitalize();
	}
}

.tsc2_small_heading
		{
			.capitalize();
			.size(13px);
			.muli-light();
		}
		.tsc2_desc_para
		{
			.size(15px);
			line-height: 180%;
			margin: 16px 0 0;
			color: #525252;
			.muli-light();
		}
		.tsc2_small_img
{
	display:block;
	//margin:0px auto;
	max-width:100px;
	.mb(5%);
	
	img
	{
		.s_image_common;
		max-height:92px;
	}
}
.snippet_sale_icon
{
	width: 120px;
	height: 120px;
	.center;
	background: @theme-color;
	color: #fff;
	border-radius: 50%;
	.size(32px);
	.muli-bold();
	position: absolute;
	right:-60px;
	top: 47%;
	.pt(25px);
	
	
	span
	{
		.size(20px);
		.muli-regular();
		display: block;
		text-align: right;
		max-width: 90px;
		position: relative;
		right: 0px;
		bottom: 5px;
	}
}
.left_container_parent
{
	width:50%;
	display:block;
	.left();
	position:relative;
}
.snippet_left_container
{
	max-width:400px;
	display:block;
	margin: 0px auto;
	.mt(4%);
	
	.snippet_left_content
	{
		width:100%;
		padding: 30px 30px 30px 0;
		max-height:320px;
		min-height:320px;
	}
}
.right_container_parent
{
	display:block;
	width:50%;
	.left();
	padding: 25%;
    background-size: cover;
}
.snippet_right_image_div
{
	width:50%;
	display:block;
	.right;
	
	img
	{	
		max-width:100%;
		.right;
	}
}

@media (max-width: 1200px)
{
	.snippet_left_container .snippet_right_timer_div
	{
		.pb(0);
	}
	.snippet_left_container
	{
		.size(55px);
	}
}

@media (max-width: 800px) {

	.snippet_left_container {
			width: 100% !important;
	    }
   
    .snippet_right_container {
		width: 100% !important;
		margin: 10% 0px;
	}
	 .snippet_left_container .snippet_left_content{
		.center;
		padding: 30px 0px 30px 0 !important;
	}
	.left_container_parent
	{
		width:100% !important;
		box-sizing: border-box;
		padding:50px 15px;
	}
	.right_container_parent {
		width: 100%;
		float: none;
		padding: 45%;
		background-position: center;
	}
	.snippet_left_container
	{
		max-width: 90% !important; 
		padding: 30px 20px;
		background: rgba(255, 255, 255, 0.7);
		.mt(0) !important;
		
		.snippet_left_content
		{
			text-align: left;
			
			.content_title
			{
				text-align: left;
				.size(28px);
			}
			.desc_para
			{
				.size(14px) !important;
			}
		}
		.snippet_right_timer_div 
		{
			.pb(10%) !important;
		}
	}
	
	#days,#hours,#minutes,#seconds
	{
		.size(50px) !important;
	}
	.snippet_sale_icon
	{
		display:none;
	}
	.desc_para 
   	{
   		.size(14px) !important;
   		.mb(25px) !important;
    }
}

@media (max-width: 600px) {
 	.snippet_left_container .snippet_left_content .desc_para {
		.size(13px) !important;
		.mb(12px);
	}
	.snippet_left_container .snippet_left_content .content_title {
		.size(22px) !important;
	}
	.snippet_left_container .snippet_left_content {
   		padding: 0 !important;
   		max-height: 250px;
		min-height: 250px;
    }
    
    #days, #hours, #minutes, #seconds {
    	.size(22px) !important;
	}
	#d_lbl,#h_lbl,#m_lbl,#s_lbl
	{
		.size(12px) !important;
		padding: 0 5px !important;
	}
	.snippet_left_container .colon
	{
		.ml(5px);
		.mr(5px);
		.size(20px) !important;
	}
	
}



