.customize-allow-common{
	display: block;
}
.customize-deny-common{
	display:none !important;
}
/* Text Allignment */
.text-align-left{
	text-align: left;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align: right;
}


/* Allow Border */
.allow-border{
	border: 1px solid #f2eeee;
}
.deny-border{
	border: none !important;
}

/* Images to Show */
.image-4{
	width: 33%;
}
.image-5{
	width: 24.8% !important;
}
 
 /* Alternate Image */
 .alternate-image{
 	//display:none;
 }
 .deny-alternate-img{
 	display:none !important;
 }
 
 
 
