.cusome_icon_main
{
	width: auto;
	border: 1px solid;
	border-right: none;
	position: fixed;
	z-index: 999;
	background-color: @theme-color;
	padding: 5px 10px 5px 10px;
	.mt(20px);
	border:none;
	
	& .customize-icon-text{
		color: #fff;
		.size(14px);
		.muli-semibold;
		.pr(10px);
	}
}
.custome_icon{
	
	i
	{
		color:#fff;
		.size(25px);
	}
}



/* Popup */
.popup_main_window{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background: rgba(0,0,0,0.5);*/
	background: #fff;
	z-index: 1000;
	
	& .popup-heading-main-div{
		background: @theme-color;
		.pt(2%);
		.pb(2%);
		.mt(32px);
		
		& .popup-heading-maxw{
			width: 90%;
			margin: 0px auto;
			max-width: 800px;
			.pr(12px);
		}
		
		& .heading-span{
			.size(17px);
			.muli-bold;
			color:#fff;
			
			.uppercase;
		}
		
		& .popup-submit-btn{
			.bg(#fff);    	
			border:1px solid #fff;    	
			color:#000;  
			padding: 10px 25px;
			.mt(-10px);
			.mr(12px); 
			.right; 	    	
			  
			  &:hover{		
				  .bg(#fff);		
				  color:#000;		
				  border-color:#fff;
			  }
		}
		
		& .customize-option-close{
			position:absolute;
			right:10px;
			top : 40px;
			.size(18px);
			cursor : pointer;
			
			& i {
				color:#fff;
			}
		}
	}
	
	& .popup_main_window_maxw{
		/*max-width: 800px;
		width:50%;
		top:15%;
		left:20%;
		height: 500px;
		background: white;
		position: fixed;*/
		
		width: 90%;
		margin: 0px auto;
		max-width: 800px;
		
				
		& .popup_window_close_btn{
			position: absolute;
			right:10px;
			top:5px;
			.size(20px);
			cursor: pointer;
		}
		
		& .attribute_main_div{
			width: 33%;
			display: inline-block;
			padding: 2% 0 2% 0;
						
			/*& .radio-selection-div{
				position: relative;
				display: inline-block;
				.pr(10px);
				
				&:first-child input{
					.pl(10px);
				}
			}*/
			
			& .attribute_heading{
				.size(14px);
				.muli-bold;
				.pb(3%);
			}
			
			& .attribute_name{
				.size(12px);
				.muli-regular;
			}
		}
	}
}
.popup-overflow-scroll{
	max-height: 500px;
	overflow-y: auto;
	padding: 4% 0% 2% 0%;
	width: 100%;
	margin: 0px auto;
}

.style-select>select.selection_box_product{
	outline: medium none;
	display: block;
	margin: 0px;
	transition: border-color 0.2s ease 0s;
	background: #FFF none repeat scroll 0% 0%;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #262626;
	border-radius: 0px;
	width: 240px;
	border: 1px solid #c3c3c3;
	height: 45px;
	padding:12px;
	.size(13px);
	.muli-regular;
	-moz-appearance: none;
	
	& option{
		.size(13px);
		.muli-regular;
		padding:8px;
	}
}
.style-select .attr {
	background: #FFF none repeat scroll 0% 0%;
	bottom: 5px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 50px;
	pointer-events: none;
	height: 38px;
}

.style-select .attr:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	.mt(-2px);
	pointer-events: none;
	border-top: 7px solid #0C0C0C;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.style-select .attr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  .mt(-5px);
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.style-select{
	position: relative;
  	display: inline-block;
}

/* popup zoom animation */
.zoom-fadein {
    -webkit-animation: animatezoomfade 0.6s;
    animation: animatezoomfade 0.6s;
}
@-webkit-keyframes animatezoomfade{
	from{-webkit-transform:scale(0); opacity:0;} 
	to{-webkit-transform:scale(1); opacity:1;}
}
@keyframes animatezoomfade{
	from{transform:scale(0); opacity:0;} 
	to{transform:scale(1); opacity:1;}
}


