@media (max-width:1000px)
{
	.image-5
	{
		width: 33% !important;	
	}
	
}
@media(max-width:800px)
{
	.image-5,.image-4 {
    	width: 50% !important;
	}
}
@media (max-width:700px)
{
	.popup-overflow-scroll
	{
		width:90%;
	}
	.popup_main_window .popup_main_window_maxw .attribute_main_div {
    width: 49%;
    }
    .popup_main_window .popup-heading-main-div .popup-heading-maxw {
    width: 90%;
    }
    .popup_main_window .popup-heading-main-div {
		.pt(3%);
		.pb(3%);
    }

}
@media (max-width:500px)
{
	.image-5,.image-4 {
   		 width: 100% !important;
	}
	
	.popup_main_window .popup_main_window_maxw .attribute_main_div {
    width: 100%;
    .mb(5%);
    }
    .popup_main_window .popup-heading-main-div .popup-submit-btn {
    	padding: 5px 20px;
    	.mt(-5px);
    }
    .popup_main_window .popup-heading-main-div .heading-span {
    font-size: 16px;
    }
    .popup_main_window .popup-heading-main-div .customize-option-close {
    	top:45px;
    }
}
/*@media (max-width:320px)
{
	.popup_main_window .popup-heading-main-div .heading-span {
	{
		.size(14px);
	}
	.popup_main_window .popup-heading-main-div .popup-submit-btn {
		.size(12px);
	}
}*/