@media(max-width:1100px)
{
	.ps_detail_main {
    width: 40%;
    
    }
	.row .ps_img_main {
    width: 60%;
    }
    #o-carousel-product .carousel-indicators.ps_slider_indicators {
    	width:20% !important;
   		 height: 350px !important;
    }
}
@media(max-width:1000px)
{
	.row .ps_img_main 
	{
		width:100%;
		.left();
	}	
	#o-carousel-product .carousel-inner div.item img {
    max-height: 450px !important;
	}
	 #o-carousel-product .carousel-indicators.ps_slider_indicators {
    	width:115px !important;
    }
    .ps_detail_main {
    width: 100%;
	}
	.js_add_cart_variants {
  	
  	  margin-bottom: 0%;
    
	    li
	    {
	    	.mb(3%);
	    }
	}
	#product_details .css_quantity {
	   .mb(0);
	   .mt(1%);
    }
    .acce_heading_main_left .acce_product_heading_para_class,.alt_product_heading_para_class {
    	.size(24px);
    }
     .ps_alt_main
    {
    	.mt(32px);
    }
   .ps_product_price_main
   {
   	.mb(1%);
   }
   .availability_messages div
   {
   	.mb(2%);
   }
   .ps_color_ul
   {
   		li
   		{
   			.mb(0);
   		}
   }
}
@media(max-width:800px)
{
	.iframe_product_video iframe {
   		width: 100%;
    	height: 400px;
    }
    .alt_name_hover
    {
    	opacity:1;
    }
}
@media(max-width:700px)
{
	#product_detail
	{
		& #modal_optional_products{
			& .table{
				& .td-img, .td-product_name, .td-price{
					width: 100p% !important;
					float:left !important;
				}
			}
		}
	}
		#o-carousel-product .carousel-indicators.ps_slider_indicators
		{
			display:none;
		}
		.ps_carousel_outer_custom {
 		   width: 100%;
    }
    .acce_heading_main_left .acce_product_heading_para_class,.alt_product_heading_para_class {
    	.size(22px);
    }  
    .o_rating_star_card .rate_text {
    display:block;
	}
}
@media(max-width:500px)
{
	
	 .acce_heading_main_left .acce_product_heading_para_class
	  {
    	.size(20px);  
  	  }
    .alt_product_heading_para_class 
    {
    	.size(20px);
    	float:left;
    }
    .ps_product_name {
    	.size(15px);
    	.mb(8px);
    }
    .ps_product_price_main h4 b.oe_price 
    {
    	.size(15px);
    	
    	span
    	{
    		.size(15px);
    	}
    	
    }
    .ps_product_desc .ps_desc_p {
    	.size(12px);
    }
    .hidden_sep{
    display: block;
	}
	 .compare_static {
    	.ml(0);
    }
    .ps_atl_product_price
    {
    	.mt(5px);
    }
    .ps_atl_product_price span {
    	.size(17px);
    }
    .breadcrumb > li
    {
    	.size(12px);
    }
    .ps_product_price_main
    {
    	.mb(8px);
    }
    .js_add_cart_variants {
    	.mb(16px);
	}
	
	.next_product
	{
		display:none;
	}
	.next_product_responsive
	{
		display:block;
	}
	.comment_heading h1 {
		.size(16px);
		line-height: 170%;
	}
	#discussion .o_portal_chatter_composer_btn {
		.mt(5%) !important;
	}
	.iframe_product_video iframe {
	    width: 100%;
	    height: 285px;
	}
	.alt_heading_main_left {
    width: 100%;
    .pt(0);
    .mb(10%);
    
    }
    .acce_heading_main_left {
    width: 100%;
    .mb(10%);
    }
    .acce_show_products_main_right {
    width: 100%;
    }
    .alt_show_products_main_right {
    width: 100%;
    }
    .ps_alt_main
    {
    	.mt(0);
    }
    .r_v_deatil_hr
    {
    	float:left !important;
    }
    .availability_messages{
    	.pb(2%);
    	
    	div
    	{
    		.mb(2%);
    	}
    }
    .media-body .o_rating_star_card {
    width: 100%;
	}
	.o_shop_discussion_rating
	{
	#discussion.o_portal_chatter {
    padding: 0px;
	}
	
	.o_portal_chatter
	{
		padding:0;
	}
	}
	
}
@media (max-width:400px)
{
	 .acce_heading_main_left .acce_product_heading_para_class,.alt_product_heading_para_class {
    	.size(15px);
    }
    #add_to_cart.infigo_btn {
    	.ml(15px);
    }
}


