.ps_alt_main
{
.bx-prev {
		left: -20px;
		background: url(/infigo_product/static/src/img/slider_controls_left.png) no-repeat ;
		background-position: center !important;
		background-size: 21px;
		&:hover {
			background-position: 0 0;
		}
	}
	.bx-next {
		right: -20px;
		background: url(/infigo_product/static/src/img/slider_controls_right.png) no-repeat ;
		background-position: center !important;
		background-size: 21px;
		&:hover {
			background-position: -43px 0;
		}
	}
}

/*-------------------------product----------------------*/
//expandable breadcrumb
/*--------*/
.ps_img_main
{
	.breadcrumb
	{
		li
		{
			position: relative;
			margin: 0px 0px;
			padding: 0px;
			list-style: none;
			list-style-image: none;
			transition: 0.3s ease;
			
			
			a,span
			{
				display: block;
				.size(12px);
				color: #757575;
				text-decoration: none;
				background: #fff;
				white-space:nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: 0.3s ease;
			}
		}
	
	}
}
.breadcrumb > li + li::before
{
	.left();
}
.table-hover > tbody > tr:hover {
    background-color: transparent;
}
/*--------*/
#wrap
{
	position:relative;
}
.previous_product
{
	position:absolute;
	top:16px;
	left:10px;
	cursor:pointer;
	padding: 20px 5px;
	
	i
	{
		color:#777;
	}
	&:hover i
	{
		color:@theme-color;
	}
}

.next_product
{	
	position:absolute;
	top:16px;
	right:10px;
	cursor:pointer;
	z-index:99;
	border: 1px solid #ddd;
	width:95px;
	.bg(#fff);
	
	i
	{
		color:#777;
	}
	&:hover i
	{
		color:@theme-color;
	}
	&:hover .arrow_next_div
	{
		 -webkit-animation-play-state: paused;
	    -moz-animation-play-state: paused;
	    -o-animation-play-state: paused;
	     animation-play-state: paused;
	}
}
.next_product_responsive
{
	display:none;
	position:absolute;
	top:16px;
	right:10px;
	cursor:pointer;
	padding: 20px 5px;
	
	i
	{
		color:#777;
	}
	&:hover i
	{
		color:@theme-color;
	}
	
}
.next_product_image {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.arrow_next_div {
    display: inline-block;
    width: auto;
    vertical-align: top;
    padding: 20px 5px;
}
.arrow_next_div
{
	transition:all 1s ease 0s;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}
.main_p_img
{
	width:100%;
	
	img
	{
		max-height:800px;
		float:left;
	}
}
.breadcrumb
{
	padding:8px 0 !important;
	.bg(transparent) !important;
	color:#9e9e9e;
	text-align:left;
	.mb(10px);
	.mt(10px);
	
	
	li > a,span
	{
		color:#9e9e9e;
	}
}
.hidden_sep
{
	display:block;
	width:100%;
	.mt(20px);
}
.carousel .carousel-control.left {
    left: 0;
}
.carousel .carousel-control.right {
    right: 0;
}
#o-carousel-product .carousel-inner div.item
{
height:auto !important;
max-height:800px;
}
.ps_carousel_outer_custom
{
	width: 80%;
	float: right;
	position: relative;
}
#website_published_button
{
position:fixed;
right:0;
.pt(5%);
z-index: 10;
}
#o-carousel-product .carousel-indicators.ps_slider_indicators
{
	height: 450px !important;
	width: 115px !important;
	position: relative;
	left: 0;
	overflow-x: hidden;
	top: 0;
	z-index:1;
	
	li
	{
		display:block;
		width:84px !important;
		height:84px !important;
		.mb(10px) !important;
		.right();
	}
	.active
	{
		width:auto !important;
		height:auto !important;
	}
}

.ps_product_name
{
	.muli-semibold();
	.capitalize();
	.mb(1%);
	.size(20px);
	line-height:165%;
	.mt(0);
}
.sku_main
{
	.size(15px);
	//.muli-semibold;
	color: #484848;
	.capitalize();
	.pt(8px);
	
	hr
	{
		.mb(10px);
	}
}
.row .ps_img_main
{
	width:65%;
	float:left;
	
	.product_detail_img
	{
		max-height:800px;
	}
}
.ps_carousel_outer_custom
{	
	.carousel-control.left,.carousel-control.right
	{
		width:8%;
	}
}

.ps_detail_main
{
	width:33%;
	float:right;
	.mt(10px);
}

.ps_product_desc
{
	.mb(3%);
	
	.rating-star-div
	{
		.mb(2%);
	}
	.ps_desc_p
	{
		line-height: 176%;
		.muli-light();
		.size(13px);
	}
}
.ps_variant_name
{
	//font-weight: normal !important;
	.common-div;
	.size(13px);
	//.muli-regular();
	color:#484848;
	.capitalize();
	.mb(10px);
}
.ps_radio_ul,.ps_color_ul
{
	.ml(0) !important;
	
	li
	{
		.mb(5px);
	}
	
	label
	{
		margin:0 !important;
		font-weight:unset;
	}
}
.js_add_cart_variants
{
	.mb(3%);
	
	li
	{
		.mb(5%);
	}
}
.ps_product_price_main
{
	.mb(3%);
	.mt(0);
	
	h4
	{
		margin: 0;
	
		b.oe_price
		{
			font-weight:unset !important;
			.muli-semibold();
			  color: #585858;
			span
			{
			.size(18px);
			.muli-semibold();
			  color: #585858;
			}
		}
		span.oe_default_price
		{
			display:inline-block;
			color:#777;
			.mr(8px);
			.size(14px);
		}
	}
}
#product_details
{
	.rating-block
	{
		.mb(1%);
	}

}
.ps_color_ul
{
	li
	{
		.mb(0);
	}
	.css_attribute_color
	{
		margin: 4px 11px 0px 0px;
		.mt(0);
		border-radius: 100%;
		float: left;
		width: 12px;
		height: 12px;
		display: inline-block;
		text-align:center;
	}
	.css_attribute_color.active
	{
		border: 2px ridge @theme-color;
	}
}
.select_wrapp
{
	position:relative;
	width: 200px;
	margin-left: 0;

	.arrow_s{
		position: absolute;
	    display: inline-block;
	    top: 2px;
	    right: 1px;
	    pointer-events: none;
	    background: #fff;
	    width: 20px;
	    height: 42px;
	    .size(9px);
	
		i
		{
			color: #898383 !important;
			position:absolute;
			bottom:20px;
		}
	}
}
#attr_select
{
	font-family:@m-regular;
	color:#898383;
	.mt(7px) !important;
	height:45px;
	.size(13px);
}
#quick_view_ul
{
	.mt(0px);
}
#attr_ul
{
	.mt(10px);
}

.attr_name,#attr_font
{
	.size(13px);
}
#product_details .css_quantity
{
	.mt(2%);
	.left();
}
.css_quantity > a {
    border-radius: unset;
    background-color: unset;
}
#add_to_cart.infigo_btn
{
	.size(14px);
	.mt(0) !important;
	.ml(32px);
}
.availability_messages
{
	div
	{
		.mt(1%) !important;
		.mb(5%);
		.muli-semibold();
		.size(12px);
		word-spacing: 1px;
	}
}
.t_js_product
{
	.list-unstyled .control-label span.badge
	{
		color:@theme-color;
		.bg(#fff);
		.size(13px) !important;
		font-weight: normal;
	}
}
//social icons

.s_share
{
	a
	{
		padding: 5px 10px;
		.bg(#ccc);
		.mr(5px);
		
		i
		{
			color:#fff;
			.size(14px);
			
		}
		&:hover i
		{
		color:@theme-color;
		}
	}
	
}


/*--------------------------alternative products--------------------*/

.alt_heading_main_left
{
	width:30%;
	display:block;
	float:right;
	.pt(12%);
	//.pb(7%);
}
.acce_heading_main_left
{
	width:30%;
	display:block;
	.left();
	.pt(12%);
	
	.acce_product_heading_para_class
	{
		.muli-bold();
		.capitalize();
		max-width: 250px;
		text-align: left;
		line-height: 150%;
		.size(27px);
		letter-spacing: 1px;
		color:#6c6b6b;
	}
	.acce_r_v_deatil_hr
		{
			border-top:2px solid @theme-color;
			//border-width: 2px;
			width: 60px;
			.mt(0px) !important;
			.left();
		}
}
.acce_show_products_main_right
{
	width:65%;
	display:block;
	.right();
}
.alt_show_products_main_right
{
	width:65%;
	display:block;
	.left();
}
.alt_child
{
	position:relative;
}
.ps_alt_img_div
{
	//max-height:370px !important;
} 
.alt_product_heading_para_class
{
	.muli-bold();
	.capitalize();
	max-width: 250px;
	text-align: right;
	line-height: 150%;
	.size(27px);
	letter-spacing:1px;
	float:right;
	color:#6c6b6b;
}
.ps_atl_product_price
{
	.size(18px);
	.mt(16px);
	
	span
	{
		.size(20px);
	}
	
}
.hr_sep_span
{
	width:100%;
	display:block;

	.r_v_deatil_hr
	{
		border-top:2px solid @theme-color;
		width: 60px;
		.mt(10px) !important;
		float:right;
	}

}
.alt_name_hover
{
	position: absolute;
	bottom: 20px;
	width: 100%;
	z-index: 2;
	opacity: 0;

	
	.ps_alt_name
	{
		.size(13px);
		color:#444;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:200px;
		margin:0px auto;
	}
}
.img_hover_effect
{
	background: rgba(255, 255, 255, 0.7);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.alt_img_main_div
{
	position:relative;
}
.alt_img_main_div
{
	&:hover .img_hover_effect
	{
		opacity:1;
		transition: all 1s ease 0s;
	}
	
	&:hover .alt_name_hover
	{
		opacity:1;
	}
	
}

/*-------------------------product zoom effect style-------------------------------*/
  .zoomed_image_on_screen
  {
    	position: fixed;
		width: 100%;
		height: 100%;
		display: none;
		left: 0px;
		overflow-y: hidden;
		.bg(#FFF);
		z-index: 9999;
		top: 0px;
		cursor: move;
	} 
	
	
	.zooming_image_screen
	{
		.center;
		width: 62%;
	}
	.div_cross_zoomed_image
	{
		width:22px;
		.ml(10px);
	}
	.image_zoom
	{
		cursor:zoom-in;
	}
     .infigo_slide
     {
	     position:fixed;
	     left:0;
	     width:100%;
	     text-align:center;
	     .bg(#fff);
	     
	  .carousel-indicators 
	  {
	  	height:500px;
	  	width:140px;
	  	.ml(30px);
	  	.mb(100px);
	  	overflow-x:hidden;
	  	left:0;
	  	
	  	.active
	  	{
	  		width:auto;
	  		height:auto;
	  	}
	  	
	  	li
 	    {
	      width:90px !important;
	      height:90px !important;
	      border: none;
	      display:block;
	      .mb(10px);
	      
	    	>img
	    	{
	    		border: 4px solid #ccc;
	    	}
    	 }
    	}
     }
     .div_parent_zoom_class
     {
    	 position:relative;
     }
 
 
/* product comments */

.comment_heading
{
	text-align: center;
	display: inline-block;
	width: 100%;
	
	h1
	{
		.size(20px);
		display:inline-block;
		text-align: center;
		width: 100%;
		.mb(5%);
	}
	p
	{
		text-align: center;
		display: inline;
	}
}

.tot_review_heading
{
	display: block;
	width: auto;
	margin: 0px auto;
	text-align: center;
	padding: 2% 0%;
	margin-top: 2%;

	p
	{
		.muli-semibold();
		.transform(uppercase);
		color:#6c6b6b;
	}
}
.media-list
{
	.mb(8%);
	.mt(8%);
}
.media-body
{
	.media-heading
	{
		width: 70%;
		float: left;
	
		span
		{
			.muli-bold();
			color:#777;
		}
	}
	.o_rating_star_card
	{
		width:30%;
	}
	.message_body
	{
	 display: inline-block;
   	 width: 70%;
	}

}
.add_cmt_lbl
{
	.muli-bold();
	.mb(2%);
}
.ur_rating_lbl
{
	.muli-bold();
	text-transform: uppercase;
	font-size: 14px;
	color: #545454;
}
.pull-left
{
	.stars
	{
		.size(14px) !important;
	}
	.form-control
	{
		.mb(2%);
	}
	#review_submit_btn
	{
		padding: 14px 80px;
		text-transform: uppercase;
		.muli-bold();
		.size(13px);
		.bg(@theme-color);
		opacity:0.8 !important;
		
		&:hover
		{
			color: #fff;
			opacity: 1.0 !important;
			transition: opacity linear 0.5s;
			transform: unset !important;
		}
	}

}
.text-cmt-heading
{
	.mt(7%);
}

#discussion
{
	.o_website_rating_static {
    color:@theme-color;
    	i
    	{
    		.mr(-2px);
    		.size(11px);
    	}
    	
	}
	.o_website_rating_card_container table.o_website_rating_progress_table .o_website_rating_table_progress .o_rating_progressbar {
    background-color: @theme-color;
	}
	.o_website_rating_card_container
	{
		.col-md-3
		{
			p{
				text-align:center;
			}
		}
	}
	.o_portal_chatter_composer_form
	{
		.o_rating_star_card
		{
			.mb(10px);
		}
	}
	.o_portal_chatter 
	{
		.o_portal_chatter_composer .o_portal_chatter_avatar
		{
				.mt(5px);
		}
		
		.o_portal_chatter_message >.media-body >p
		{
			color:#848484;
			.size(13px);
			line-height: 165%;
			.mt(1%);
		}
	}
	.o_portal_chatter_composer_btn
	{
		.infigo_btn;
		.mt(3%) !important;
	}
	.o_website_rating_card_container table.o_website_rating_progress_table .o_website_rating_table_star_num {
    min-width: 70px;
	}
}
.o_portal_chatter .o_portal_chatter_messages .o_portal_chatter_message_title p {
	display: inline-block;
}
.o_website_rating_card_container table.o_website_rating_progress_table {
	overflow: hidden;
display: inline-block;
}

/*---------product video------------*/

.pvideo_link
{
	width: 38px;
	height: 38px;
	border-radius: 100%;
	.bg(@theme-color);
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left:7%;
	.size(17px);
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	
	i
	{
		padding:10px;
		vertical-align: text-bottom;
		color:#fff;
	}
	
	&:hover
	{
		opacity: 1.0 ;
	}
}

.i-zoom-animation {
	-webkit-animation:animzoom 0.6s;
	animation:animzoom 0.6s
}
@-webkit-keyframes animzoom{
	from{-webkit-transform:scale(0)} 
	to{-webkit-transform:scale(1.5)}
}
@keyframes animzoom{
	from{transform:scale(0)} 
	to{transform:scale(1.5)}
}

.product_video_popup_main
{
	display:none;
	width:100%;
	margin:0px auto;
	.bg(#000);
	position:fixed;
	top:0;
	z-index:9999;
	height:100%;
	left:0;
	right:0;
}
.product_video_popup_wrap
{
	.common-div;
	position:relative;
	
	.product_video_subpopup
	{
		.block;
	}
}

.iframe_product_video
{
	.block;
	
	iframe
	{
		width:700px;
		height:600px;
		display:block;
		margin:0px auto;
		border:0;
	}
}
