.main_listid_grid_before{
	width:23% !important;
	position:relative !important;
	z-index:0 !important;
	.left;
	height: 100% !important;
	
	& .price_filter_main{
		width: 90% !important;
		max-width: 100% !important;
	}
	
	& #category_wrap{
		width:100%;
		
	}
	& .filter_done_btn
	{
		position: absolute;
		bottom: 0%;
		left: 5%;
		width: 60%;
	}
	
	& h4.category{
		position: unset !important;
		.mt(0) !important;
		display: block !important;
	}
	
	& #o_shop_collapse_category{
		border-right : unset;
	}
	& .js_attributes{
		width:100%;	
		.pt(10%);
		.pb(10%);
		
		& .filter_right_ul{
			overflow-y: unset;
			height: 100%;
			
			& .filter_block{
				width:90%;
				.pt(5%);
				max-height: 100%;
				overflow-y: auto;
				max-width : 100%;
				
				
				& .attribute-filter-heading{
					.mb(5%) !important;
					max-width : 85% !important;
				}
			}
			& .price_filter_main
			{
				max-width:unset;
			}
			
			& .sub-li-main{
				max-height:150px;
				height: auto;
			}
		}
		
		& #pull-out{
			border-top : unset !important;
		}
	}
	.common-close-btn{
		display : none;	
	}
	.products_category_ul{
		max-height: 100%;
		overflow-y : unset !important
	}
}

.main_listid{
	width: 75% !important;
	.right;
	
	& .itemscope-main{
		.common-div;
		
		& .oe_product_image{
			width:30%;
			.left;
			.mr(10px);
		}
		& section{
			width:60%;
			.left;
			.pt(2%) !important;
		}
		
		& #website_published_button{
			position: absolute;
			.pt(0);
		}
		
		& .product-des{
			display: block;
			width: 100%;
			opacity: 1;
			border-bottom: unset;
			position:relative;
			
			& #quick_view_shop{
				opacity: 1;
				.bg(#fff);
				
				& .quick-view-a{
					.size(12px);
					color:#bbb;	
					padding: 14px 10px 14px 10px;
				}
			}
		}
		
		& .sort_description{
			//display : block !important;
		}
	}
}
/*---------list view------------*/

.main_listid
{
	.oe_product.oe_list
	{
		display: block;
		.pl(0);
		border: none;
	}
	.product-description-div
	{
		color:#949494;
		    line-height: 160%;

	}
	#website_published_button
	{
		display:none;
	}

}
.right-cnt-maxW_list
{
	width:90% !important;
	max-width:1400px !important;
}

.sort_description{
	.common-div;
	.pt(2%);
	
	& p{
		.size(13px);
		line-height: 185%;
		color:#848484;
	}
}
