@media(max-width:1000px)
{
	.main_listid .itemscope-main .oe_product_image {
    	width: 43%;
    }
    .main_listid .itemscope-main section {
    	width: 55%;
	}
}


@media only screen and (max-device-width : 900px) {
	#website_published_button{
		position: absolute;
		right: 0;
		z-index: 9999;
	}
	.main_listid > .oe_product.oe_list{
		width:100% !important;
	}
	.oe_list .in-wishlist-heart > a{
		top: 20% !important;
		right: 1% !important;
	}
	.main_listid{
		& .product-image{
			//max-height: 230px;
			//min-height: 230px;
		}
		& section{
			padding:8% 0 0 2% !important;
		}
	}
	.main_listid .itemscope-main section {
    width: 63%;
	}
	.main_listid .itemscope-main .oe_product_image {
    width: 35%;
	}

}
@media(max-width:700px)
{
	.main_listid .itemscope-main section {
    width: 58%;
	}
	.main_listid .itemscope-main .oe_product_image {
    width: 40%;
	}
}
@media (max-width:600px){
	.main_listid .itemscope-main section {
    width: 100%;
	}
	.main_listid .itemscope-main .oe_product_image {
    width: 100%;
	}	
}
@media (max-width:400px){
	
	#products_grid .oe_product.oe_list {
    height: auto;
	}
	.main_listid .itemscope-main {
		.mb(5%);
	}
	.main_listid .itemscope-main .sort_description
	{
		.pb(5%);
	}
	

}
