.wish_count {
	border: solid 0px;
	padding: 0px 0px;
	border-radius: 3px;
	color: #000;
}
.wishlist_header_div.wish_header_p
{
	padding:10px !important;
	
	i,sup
	{
		color:#787474;
	}
}
#product_details .add2wish i, #product_details .in2wish i{
	padding: 11px 11px;
	border: 1px solid #ccc;
}

.product-des .in2wish {
	padding : 11px;
}
.in2wish {
	display: none;
	color:@theme-color;
}
.wishlink .in2wish i{
	color:@theme-color !important;
	cursor: no-drop;	
}
.shop_view_popup_link_btn
{
	.size(12px);
	height: 30px;
	letter-spacing: 2px;
	padding: 6px 20px;
	text-align: center;
	text-transform: uppercase;
	background: @theme-color;
	border-radius: 25px;
	border: none;
	color: #fff;
	transition: all 300ms;
	text-decoration: none;
	.muli-regular();
	
	
	&:hover
	{
		.bg(#000);
		color:#fff;
	}
}

.error {
	display: none;
	color:red;
	.muli-regular;
	.size(15px);
	margin-bottom: 5%;
	width: 80%;
}

.wish_product_main_div{
	width : 73%;
	display : inline-block;
}
.main-div-W100{

	.main-div-maxW{
		width:90%;
		display:block;
		margin:0px auto;
		max-width:1400px;
		.pt(3%);
		
		.product{
			width:50%;
			display: inline-block;
			.pt(2%);
			.pb(3%);
		    .left;
		    position: relative;
		    
			.wishlist-img-div{
				width: 22%;
				.left;
				
				.wishlist-img{
					width:auto;
					max-width: 100%;
				}
			}
			.wishlist_rating_main_div{
				/* padding: 8px 0 8px 0;*/
			}
			& .wishlist-product-name-div{
				.left;
				.ml(20px);
				
				& .wishlist-product-name{
					.muli-regular;
					.size(15px);
					color: #717171;
					width: 100%;
					display: block;
					.mb(1%);
					.ellipsis;
					max-width: 230px;
				}
				
				& .wishlist_price{
					
					.mb(5%);

					h4
					{
						margin:0;
					}
		
					& .strike-price{
						.size(11px);
						.left;
						.pt(2px);
					}
				
					& .wishlist-price-p{
						.size(13px);
						.mr(10px);
						.mb(0px) !important;
						display:inline-block;
					}
				}
				
				& .product_avail{ 
					display:inline-block;
					.mt(3px);
					.mb(3px);
					
					& .in-stock {
						.mb(0px) !important;
						width:100%;
					}
					& #available{
						.size(12px) !important;	
						.muli-bold;
					} 
					& .warning{
						& #available{
							color:#D5B91D;
						}						
					}
				}
				
				& .wishlist-product-cart-div{
					.muli-regular;
										
					& a{
						.size(12px);
						color:#717171;
						margin-right:10px;
						.left;
						.mr(10px);
						
						& i{
							.mr(5px);
						}
						
						&:hover{
							color:black;
						}
					}
				}
			}
		}
	}
}
.add_cart_div{
	.left;	
}
.empty-wishlist-div
{
	margin: 5% 0;
}
.remove_wish_div{
	.left;
}
#quick_view_wishlist > .quick-view-a{
	padding:0 !important;
}
.boxalert{
	width:100px;
	height:100px;
	position:fixed;
    right:-100px;
    top:150px;
    z-index:9999;
    color:white;
    border : 1px solid #F5F5F5;
}
.class{
	display:none;
	.left;
}

.undo{
	.size(13px);
    color:#717171;
    clear:both;
    visibility: hidden; 
    position: absolute;
    top: 35%;
    left: 10%;
    .muli-semibold;
    background: rgba(255,255,255,0.7);
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid gray;
    .ellipsis;
    max-width: 80% !important;
    
    &:hover{
    	color:#717171;
    }
    
    & .undo-span{
    	color:black;
    }
}

.product_name_label{
	.left;
	display:none;
	padding: 20px 10px 0 20px;
}
.wishlist_image{
	.left;
}
.cart_view_details_product_image{
	width:100px;
	height:100px;
	background-color:white;
	
}
.clear-all-div{
	.pb(1%);
	
	& a{
		.size(11px);
		color: @theme-color;
	}
}
.empty-wishlist-img-div{
	text-align: center;
    
    & img{
    	width: auto;
    	max-width: 100%;
    	.pb(3%);
    }
}
.empty-wishlist-text{
	text-align:center;
	.uppercase;
	.muli-bold;
	.size(15px);
}


/* in shop wishlink */
.wish_no_count{
	margin: 0px 4px;
	.muli-regular();
}
span.wish_count{
	padding: 0px 0px;
	.muli-regular();
	color:#fff;
}
.wishlist-cover-img{
	width: auto;
	max-width: 100%;
	display: block;
	margin: 0px auto;
}
.apply-wishlist
{
	display: none;
}
.wishlist-main{
	& .div_class_recent_view_product{
		width:90% !important;
	}
	
	.chs_heading{
		.mb(5px);
	}
}

.login_modle {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	z-index: 9999;
	display: none;
	background: rgba(255,255,255,0.7);

	.login-main{
		max-width:800px;
		display:block;
		margin: 0px auto;
	
		.login-form-left {
			
			width: 100%;
			padding: 10px;
			box-shadow: 0px 0px 5px #ccc;	
			z-index: 9999;
			background: white;
			.mt(10%);
			display:inline-block;
			.pb(5%);
			border-bottom: 4px solid @theme-color;
			
			
			& .left-cnt{
				margin-left: 3%;
				position: relative;
				
				& .close-btn{
					position: absolute;
				    z-index: 2;
				    top: 0;
				    right: 15px;
				    height: 34px;
				    width: 34px;
				    background-color: #fff;
				    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
				    border: solid 1px rgba(0, 0, 0, .06);
				    border-radius: 50%;
				    font-size: 15px;
				    line-height: 32px;
				    color: #878787;
				    text-align: center;
				    cursor: pointer;
				}
				
				& #login , #password{
					width: 70%;
					height: 40px;
					border-radius: 0;
					border: 0;
					padding-left: 10px;
					border-bottom: 1px solid #000 !important;
					
					&:focus{
						border-bottom: 1px solid @theme-color !important;
						border:0;
						box-shadow:0;
					}
				}
				
			}
		}
	}
}

.login-form-left-content{
	display:block;
	width: 60%;
	float:left;
}
.wish_login_img_div{
	display:block;
	width:35%;
	float:left;
	
	img{
		width:auto;
		max-width:100%;
		display:block;
		margin:0px auto;
	}
}

.login-form-left-h2{
	.mb(10px);
}
.login-form-hr{
	.mt(0);
}
.email-label-wishlist , .password-label-wishlist{
	.muli-regular;
	.size(13px);
	font-weight: normal;
	
	& .mandatory{
		color:red;
	}
}

.wishlist_temp_right_main{
	width : 23%;
	display : inline-block;
	.right;
	.pt(1%);
	.mb(5%);
	
	& .wish_filter_heading{
		.muli-regular();
		.size(23px);
		.uppercase();
		color: #6C6B6B;
		.mb(20px);
		.mt(0);
	}
	
	& .wish_filter_product_name{
		color: #434242;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 225px;
		display: block;
		.capitalize();
		.muli-light();
		font-size: 14px;
	}
	
	& .w_filter_price{
		//.muli-semibold();
		.size(15px);
		font-weight: normal;
		display: inline-block;
		
		span{
			.muli-semibold();
			.size(15px);
		}
	}
}
.login-form-left-content{
	& .oe_login_buttons{
		width: 49%;
		display: inline-block;
	}
}
