@media (max-width:1000px)
{
	.wish_product_main_div
	{
		width: 65%;
	}
	.wishlist_temp_right_main
	{
		width: 35%;
	}
	.main-div-W100 .main-div-maxW .product {
    width: 100%;
    }
}

@media (max-width:600px){
	
	.wish_product_main_div
	{
		width:100%;
	}
	.wishlist_temp_right_main
	{
		width:100%;
		.mb(10%);
	}
	
	.main-div-W100 .main-div-maxW .product .wishlist-product-name-div .wishlist-product-name {    
		.size(12px);
		.mb(3px) !important;
	}
	.main-div-W100 .main-div-maxW .productFrom{
		.pt(6%);
	}
	.wishlist_price .oe_currency_value{
		.size(12px);
	}
	.clear-all-div .chs_heading {    
		.size(18px);
	}
	.wishlist_rating_main_div .fa-star-o {    
		.size(9px) !important;
	}
	.product_avail {
		.mb(7px) !important;
		
		& #available{
			.size(11px) !important;
		}
	}
	.wishlist-product-cart-div a{
		.size(11px);
	}
	.div_class_recent_view_product{
		width:88%;
	}
	.wishlist-product-name{
		max-width:190px !important;
	}
	.product_avail{
		.mb(0) !important;
	}
	.product{
		.mb(20px);
	}
	.wishlist_price p{
		margin:0;
		.size(12px);
	}
}
@media (max-width:300px){
	.main-div-W100 .main-div-maxW .product .wishlist-product-name-div 
	{
    .ml(5px);
	}
	.wishlist_temp_right_main .wish_filter_heading {
   		.size(20px);
    }

}