
.close-notification{
	position: absolute;
	right: 4px;
	.size(15px);
	z-index:1005;
	display:none;
	//padding: 14px 8px 10px 10px;
	height: 34px;
	width: 34px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	border: solid 1px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	line-height: 32px;
	color: #878787;
	margin: 0px auto;
	text-align: center;
	cursor: pointer;
	top:50px;
}
.notification-dot:after{
	display:block;
	content : '';
	width: 5px;
	height: 5px;
	background: red;
	position: absolute;
	top: 0;
	right: -3px;
	border-radius: 50%;
}
.notification_filter_maxheight{
	max-height:450px;
	overflow-x:auto;
}
.added_block{
	display: block !important;
}
.notification_popover{
	position: absolute;
	top: 95%;
	right:-5px;
	z-index: 1002;
	display: none;
	.left;
	min-width: 360px;
	padding: 20px 0;
	margin: 2px 0 0;
	list-style: none;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	background-clip: padding-box;
	
	& .notification_popover_maxw{
		max-width: 90%;
		.center();
		position: relative;
		
		& .notification_filter_details{
			.common-div;
			
			& .notification_filter_img_div{
				//.left;
				width: 25%;
				display:inline-block;
				.mr(10px);
			}
			& .notification_popover_p_details
			{	
				display:inline-block;
				width:69%;
				vertical-align: top;
				text-align:left;
				
				.oe_price
				{
					display:inline-block;
				}
			}
			& .notification_filter_product{
				.muli-regular();
				.capitalize;
				.size(13px);
				.ellipsis;
				.pt(0);
				.pb(5px);
				width: 100%;
				text-align: left;
				color:#868686;
			}
			
			& .notification_filter_price{
				.size(14px);
				.left;
				.muli-regular;
				
				& span{
					.size(14px);
					.left;
					.muli-regular;
				}
			}
		}
	}
	& .notification_heading_hr{
		.common-div;
		.mt(15px);
		.mb(10px);
		
		&:last-child{
			display:none;
		}
	}
	& .notification_heading{
			margin: 0;
			//.pt(5%);
			.pl(5%);
			.size(16px);
			.muli-regular;
			.uppercase;
			.left;
			color: #6C6B6B;
	}
}

.notification_product_attribute_div
{
	.left();
}

/* Add To Cart  */
.notification_cart
{
	.muli-regular();
	color:#555;
	.size(11px);
	.capitalize();
	border: 1px solid #ccc;
	padding: 3px;
}
.deal_add_to_cart{
	
	& .add-cart-a{
		.left;
		//.ml(10px);
		-webkit-animation-duration: 1s;
	    animation-duration: 1s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
		
		& i{
			color: @theme-color !important;
			.size(12px);
		}
	}
	& .deal-product-added{
		.ml(10px);
		.left;
		transition: 0.8s;
		display:none;
		.size(8px);
		.muli-regular();
		letter-spacing: 0.5px;
		background:green;
		color: #fff;
		padding: 2px 3px;
		border-radius: 50%;
		.mt(2px);
		
		i
		{
			color: #fff !important;
			vertical-align: middle;
		}
	}
}
 @keyframes flash {
    0%, 50%, 100% {
       opacity: 1;
       transform: scale(1.03);
    }
    25%, 75% {
       opacity: 0;
       transform: scale(1.03);
    }
 }
 
 .flash {
    animation-name: flash;
    transition: 0.8s;
 }

/* Shack Notification Icon */
.notification_shack{
	animation: shake_icon 0.8s cubic-bezier(.36,.07,.19,.97) both infinite;
	transform: translate3d(0, 0, 0);
  	backface-visibility: hidden;
  	perspective: 1000px;
}

@keyframes shake_icon {
10%, 90% {
	transform: translate3d(-1px, 0, 0);
}
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}




@media (max-width:600px){

	.notification_popover
	{
		min-width: 270px;
		right: -60px;
	}
	.close-notification
	{
		right: -40px;
	}
}
