/*-------------------three-column-snippet--------------------------------*/

.b_three_column_wrap
{
	.common-div;
}
.b_three_column_container
{
	.block;
}
.b_ind_column_div
{
	width:33.33%;
	display:block;
	.left();
	position:relative;
	text-align: center;
	overflow: hidden;
	
	
	img
	{
	
		max-height:300px;
	}
	
	
	a::before
	{
		background: rgba(255,255,255,.2);
		bottom: 0;
		content: "";
		left: 50%;
		position: absolute;
		right: 51%;
		top: 0;
	}
	a::after
	{
		background: rgba(255,255,255,.2);
		bottom: 50%;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
		opacity: 1;
	}
	
	&:hover
	{
		a::before
		{
			left: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 900ms linear;
			-moz-transition: all 900ms linear;
			-ms-transition: all 900ms linear;
			-o-transition: all 900ms linear;
			transition: all 900ms linear;
		}
		a::after
		{
			top: 0;
			bottom: 0;
			opacity: 0;
			-webkit-transition: all 900ms linear;
			-moz-transition: all 900ms linear;
			-ms-transition: all 900ms linear;
			-o-transition: all 900ms linear;
			transition: all 900ms linear;
		}
	}
	
	
}




@media(max-width:600px)
{

	.b_ind_column_div
	{
		width:100%;
	}

}




