.filter_done_btn{
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 15%;
}
.filter_done_btn_responsive
{
	width:90%;
	margin:0px auto;
}
#products_grid_before{
	height : 410px;
}
.filter_done_btn_responsive
{
	display:none !important;
}
