#quick_view_shop
{
	opacity:0;
	cursor: pointer;
	width:40%;
	float:left;
	.bg(@theme-color);
	height: 45px;
	text-align:center;
	
	a
	{
		.uppercase();
		.muli-regular();	
		color:#fff;
		vertical-align: sub;
		padding:15px 0;
	}
	
	i
	{
		.mr(5px);
	}
}
.quick-view-a{
	.size(12px);
	display: block;
}
.mask
{
	background-color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height:100%;
	display: none;
	z-index: 9990;
	opacity: 0.6;
}
.model-main-div{
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9991;
	background: rgba(255,255,255,0.5);
}

.product_quick_view_class
{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#fff;
	z-index:9997;
	border-bottom: 4px solid @theme-color;
	overflow:auto;
	max-height:100%;
}
.product_quick_view_subclass
{
	.maxW;
	text-align: left;
}
.quick_view_name
{
	.mb(3%);
}
.sku_container
{
	.common-div;
	text-align:left;
}
.quick_view_product_sub_details
{
	.ps_product_price_main
	{
		//.mb(0);
	}
	.oe_quick_rating
	{
		.mb(3%);
	}
}
.quick_view_img_div_container{
	width:53%;
	display:block;
	.left();
	.quick_view_image_div{
		width:100%;
		
		>img
		{
			max-width:100%;
			width:auto;
			max-height: 600px;
		}
	}
}
.quick_view_p_name{
    color: #333;
	.pb(10px);
	.transform(capitalize);
	.size(18px);
    line-height: 100%;
    position: relative;
    .mb(1px);
}
.quick_view_product_details
{
	width:40%;
	display:block;
	.left();
	.mt(20px);
	
	.before_hr
	{
		border: 1px solid @theme-color;
		width: 35px;
		.mt(0px);
		color: @theme-color;
	}
		
	.product_wish_compare
	{
		margin:0;
	}
	.price
	{
		.mb(1%);
		
		.old_price
		{
			.left();
			.size(15px);
			.pt(7px);
			.mr(10px);
			color: #777;
		}
		.new_price
		{
			.size(18px);
			color:#333;
			font-family:@m-bold;
			.pt(3px);
			
			span
			{
				font-family:@m-bold;
			}
		}
	}
	.product_avail
	{
		.size(14px);
		.in-stock 
		{
			.mb(1%);
			width: 100%;
			
			span
			{
			  color: #008000;
			    .size(12px);
			    width: 30%;
			    .left();
			    font-family:@m-bold;
			     background: transparent;
			     .ml(0px);
				padding: 0;
			}
			.warning
			{
				color:#D5B91D;
			}
		}
	}       
}
.quick_view_product_sub_details
{
	.block;
}
#hr_style
{
	.mt(10px);
	.mb(10px);
	.common-div;
    margin: 0px;
}
.hidden_sep_qv
{
	display: block;
	width: 100%;
}
.q_rating-block
{
	.common-div;
	.pt(0%);
	.o_rating_star_card .stars
	{	
		/*color: @theme-color !important;*/
		i
		{
			.mr(-1px);
		}
	}
}
#all_att {
    .pt(10px);
}
/*.select_wrapp
{
	position:relative;
	width: 240px;
	margin-left: 0;

	.arrow_s{
		position: absolute;
	    display: inline-block;
	    top: 16px;
	    right: 1px;
	    pointer-events: none;
	    
	    width: 20px;
	    .size(9px);
	
		i
		{
			color: #898383 !important;
		}
	}
}
#attr_select
{
	font-family:@m-regular;
	color:#898383;
	.mt(7px) !important;
	height:45px;
	.size(13px);
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
#attr_select::-ms-expand{
    display: none;
}*/
#quick_view_ul
{
	.mt(0px);
}
#attr_ul
{
	.mt(10px);
}

.attr_name,#attr_font
{
	.size(13px);
}
#wishlist_icon_div_quick_view
{
	display:inline-block;
	
		.add2wish
		{
			.left();
			display:block;
			.bg(transparent);
			
			>i
			{
				color:#555;
				padding: 11px 11px;
			    border: 1px solid #ccc;
			}
			&:hover
			{
				>i
				{
					color:@theme-color!important;	
				}
			}
		}
	.in2wish
	{
		.left();
		color:@theme-color;
		display: none;
		background:transparent;

		 i {
			    padding: 11px 11px;
			    border: 1px solid #ccc;
			}
			
	}
}

.css_attribute_color.active{
	border: 1px ridge @theme-color;
}
.variant-name-strong{
	font-weight: normal !important;
    .size(14px);
    .muli-regular();
  	color: #484848 !important;
 	letter-spacing: 1px;
	.common-div;
}
#clr_li_style .css_attribute_color{
	margin: 7px 10px 0px 0 !important;
	.ml(4px) !important;
	
	& span{
		.size(14px);
	    .capitalize();
	    .muli-regular();
	}
}
#all_att .list-inline{
	.mb(15px);
}
.list-inline{
	& .css_attribute_color{
		border-radius: 50%;
		width: 16px;
		height: 16px;
		.mr(5px);
		
		& input{
			margin: 0px;
			height: 0px;
		}
	}
	& .css_attribute_color.active{
		border:1px solid @theme-color !important;
		
		& input{
			margin:0 !important;
		}
	}
}
#all_att .list-unstyled{
	.mb(15px);
}
 .list-unstyled {
    .pl(0px);
    list-style: none;
    .common-div;
}
.list-unstyled .control-label{
	
	& span{
		.size(14px);
	    .capitalize();
	   	.muli-regular();
	}
}
.quickview-btn{
	width:100% !important;
}

.Quick_product_wish_compare
{
	//width: 40%;
	//display: inline-block;
	//.left();
	//margin: 3% 5% 3% 5%;
}
.quick_product_quantity
{
	display: inline-block;
	width: auto;
	.left();
	.mb(0);
	.mt(2%);
}
.qv_ad2cart
{
	display:inline-block;
}
.view_details_link
{	
	color:@theme-color;
	.size(14px);
	.common-div;
	vertical-align: middle;
}
#wait{
	display:none;
	width:69px;
	height:89px;
	z-index: 9999;
	position:absolute;
	top:50%;
	left:50%;
	padding:2px;
}

.mask_cover
{
	width:100%;
	display:block;
	position:fixed;
	top:0;
	z-index:9993;
}
.shopmylook_quick_view{
	.common-div;
	
	& .div_class_shop_my_look{
		.mt(0px)
	}
}
.quick_view_img_div_container .carousel-inner
{
	img
	{
		max-height:550px !important;
	}
}
