@media (max-width: 1200px) {

	.quick_view_img_div_container .quick_view_image_div > img 
	{
		max-height: 500px !important;
	}
	.quick_view_product_details .quick_view_p_name
	{
		.size(13px);
		line-height: 150%;
	}
	.quick_view_product_sub_details .oe_price_h4
	{
		.mt(0) !important;
	}
	.price_comman_sub_class
	{
		b
		{
			.size(13px);
		}
	}
	.quick_view_product_sub_details .product_price {
    		.mb(2%);
   
		}
		.quick_view_product_details #add_to_cart
	{
		max-width: 180px !important;
		.size(15px);
	
	}
	
}
@media (max-width:1000px)
{
    .quick_view_product_sub_details .compare_static
    {
    	vertical-align: top;
    }
    .quick_view_product_sub_details 
    {
    	.ps_product_desc {
    		.mb(1%);
		}
		.js_add_cart_variants li {
    		.mb(1%);
		}
	}
	.quick_view_name
	{
		.mb(1%);
	}	
}

@media (max-width: 800px) {
	
	.quick_view_img_div_container .quick_view_image_div > img 
	{
    max-height: 400px !important;
	}


	.quick_view_product_details #add_to_cart
	{
		max-width: 180px !important;
		.size(15px);
		.mt(2%) !important;
	
	}
	.quick_view_img_div_container {
    width: 100%;
    display: block;
    float: none;
	}
	.quick_view_product_details {
		width:100%;
	}
	.quick_view_product_sub_details
	{
		width:100%;
	}
	.Quick_product_wish_compare {
    width: 50%;
    }
    .quick_view_product_details .product_avail
    {
    	.common-div;
    
    }
    .quick_view_product_details .quick_view_p_name
    {
    	.pb(5px);
    }
    .css_editable_mode_hidden
    {
    	.mt(4px);
    }
}
@media (max-width: 500px) 
{
	.quick_view_img_div_container .quick_view_image_div > img 
	{
    max-height: 300px !important;
	}
	.quick_view_img_div_container {
		width: 100%;
		display: block;
		float: none;
	}
	
	.quick_view_product_details {
		
		width:100%;
		
		.product_price {
    		.mb(1%);
   
		}
		
		
		.ps_product_price_main
		{
			
		
			h4 b.oe_price
			{	
				.size(15px);
			
			 span {
   				
   				.size(15px);
    			}
    		}
		}
	
	}
	.price_comman_class{
		.pt(15px);
	}
	.hidden_sep_qv {
    display: block;
	}
	.quick_product_quantity
	{
		.mt(0);
	}
	.qv_ad2cart
	{
		width:100%;
		.mt(5%);
		
			#add_to_cart.infigo_btn {
	    margin-left: 0;
		}
	}
	.quick_view_product_sub_details .oe_price_h4 {
		.mb(0);
	}

} 
