.full-width
{
	.common-div;
}
.blog-maxw
{
	.block;
	
	.breadcrumb
	{
		li
		{
			position: relative;
			margin: 0px 0px;
			padding: 0px;
			list-style: none;
			list-style-image: none;
			transition: 0.3s ease;
			
			
			a,span
			{
				display: block;
				font-size: 12px;
				color: #757575;
				text-decoration: none;
				background: #fff;
				white-space:nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: 0.3s ease;
			}
		}
	
	}
}

.blogpost_right_main
{
	button.js_follow_btn
	{
		padding: 10.4px 12px;
	}
}
.l_blog_each
{
	width:30%;
	display:inline-block;
	margin:1%;
	border:1px solid #ddd;
	vertical-align:top;
}
.l_cmn_padding
{
	padding:0 5%;
}
.catg_title_main_blog
{
	.mb(10px);
	.muli-semibold();
	.pt(1%);
	.pb(1%);
}
.tag_margin
{
	.mt(10px);
	.mb(10px);
}
.fa-tags::before
	{
		.size(11px);
		color:@theme-color;
	}
	.lb_keywords,.l_blog_comments
	{
		width:100%;
}

.blogpost_left_main
{
	width:70%;
	display:inline-block;
	.right();
}
.blogpost_right_main
{
	width:25%;
	display:inline-block;
	float:left;
}

.ctg_subtitle_main
{
	.muli-light();
	.size(16px);
	margin:0;
	color:#777;
}


.website_blog .o_blog_post_title{
	.size(20px) !important;
	.muli-regular;
	color: #000;
}
.blog_post_div{
	.pb(6%);
}
.blog_post_div{
	.pb(6%);
}
.blog_post_data_more{
	.pt(1%);
		
	& .blog_post_tabs_a{
		.mr(10px);
		color: @theme-color;
		.size(12px);
		border-left: 1px solid;    
		.pl(7px);
	}
	
	& .seprater{
		.ml(5px);
		.mr(5px);
	}
	
	& .blog_post_date{
		.size(12px);
	}
	
	& .blog_post_author-static{
		color:@color-black;
		.size(12px);
		
		& .blog_post_author{
			color: @theme-color !important;
			.ml(3px);
		}
	}
}
.blog-post-image-div{
	width: auto!important;
    height: 250px!important;
}
.blog-post-subtitle-div{
	.pt(2%);

	& .blog-post-subtitle{
		.size(14px);
		color:#777;
	}
}
.o_sharing_links{
	.mt(15px) !important;

	& a{
		color:black !important;
		.size(15px) !important;
	}
}
.tagline_hr{
	padding: 0;
	.mb(0);
	.mt(10px);
}
.blog_post_tags .nav-pills > li.active > a{
	color:@theme-color;
	background-color:white;
	border-radius: 2px;
	
	&:hover{
		color:@theme-color;
	}
}
.blog_post_tags .nav-pills{
	.pt(2%);
	.pl(10px);
}
.blog_post_tags .nav-pills > li > a{
	.size(12px);
	padding: 2px 12px 2px 12px !important;
}
.blog_post_tags .nav-pills > li {
	display:inline-block;
    border: 1px solid #ccc;
    margin:10px 2px 0 2px;
    
    &:hover{
    	border: 1px solid @theme-color;
    }
    
    &.active{
    	border: 1px solid @theme-color;
    }

	& a:hover{
		background-color:white;
		color:@theme-color;
	}
	
	&.active > a{
		color:@theme-color;
		background-color:white;
		border-radius: 2px;
		
		&:hover{
			color:@theme-color;
		}
	}
}
.blog_post_catge .nav-pills > li > a:hover{
	background-color:white;
	color:@theme-color;
}
.blog_post_catge{
	.pt(1%);
	
	& .nav-pills > li{
		.mt(5px);
		
		& a{
			.size(14px);
			padding: 2px 15px !important;
			
		}
	}
	
	& .nav-pills > li.active > a{
		color:@theme-color;
		background-color:white;
		border-radius: 2px;
		.capitalize();
		
		&:hover{
			color:@theme-color;
		}
	}
}
.blog_complete_tag_icon
{
	color:#fff;
}
.blog_complete_tag
{
	.bg(@theme-color);
	
	&:hover
	{
		.bg(@theme-color);
	}
}
.blog_complete_subtitle,.read_next_blog_subtitle
{
	max-width: 800px;
	.size(16px) !important;
	.center();
	.center;
	.mt(4%);
	.muli-regular();
	line-height: 190%;
	letter-spacing: 1px;
	.mb(2%);
}
.blog_complete_name,.read_next_blog_name
{
	max-width: 800px;
	.center;
	.muli-regular();
	line-height:160%;
}
.blog_share_icons
{
	.o_sharing_links
	{
		position: fixed;
		top: 50%;
		right: 1%;
		
		a
		{
			display: block;
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
			background: #FFF;
			border-radius: 100%;
			.center();
			.pt(10px);
			margin: 10px 0 !important;
			width: 38px;
			height: 38px;   	
			
			>i
			{
				color:#555 !important;
				transition: color 0.3s ease-in-out;
				.size(17px);
				vertical-align: middle;
				
				&:hover
				{
					color:@theme-color !important;
				}
			}
		}
	}
}
.blog_share_icons .o_sharing_links
{
	>a::before
	{
		content: "";
	}
}
.blog_read_next_link
{
	color:@theme-color;
}
.blog_complete_max_width
{
	max-width:1000px !important;
	.block;
}
.participate_social a{
	.size(15px);
	.mr(5px);
}
.stay-update input.js_follow_email{
	height: 40px;
	border-radius: 0;
}
