@media (max-width:1100px){
	.product-grid-div{
		width:33%;
	}
	#wishlist_shop i, #compare_shop i, #see_similar_product i, #addtocart_shop i {
	
		.size(13px);
	}
	
	.product-image{

	}
	.quick-view-a
	{
		.size(11px) !important;
	}
	#wishlist_shop, #compare_shop, #see_similar_product, #addtocart_shop
	{
	//	padding:9px 0px;
	}
/** Change **/	
	#products_grid_before{
		.attribute-filter-heading{
				
				.ellipsis(){
					white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    max-width: 100px;
				    display: block;
				}
				.ellipsis;
		}
	}
	#products_grid_before {
    	height: 400px;
	}
	.filter_right_ul{
		padding-bottom: 7px;
		height:340px;
	}
	.mobile-view-filter-close-btn{
		display:none;
	}
	.price_filter_main {
		width: 25%;
    }
    #price_slider_form {
    	width: 77%;
    }
}
/**Change**/
@media (max-width:980px){
	.filter_block,.price_filter_main{
		width:30%;
	}
	#category_wrap{
		width:23%;
	}
	.js_attributes{
		width:77%;
	}
	.filter_done_btn{
		width: 19%;
	}
	.quick-view-a
	{
		.size(12px);
	}
	#wishlist_shop, #compare_shop, #see_similar_product, #addtocart_shop
	{
		//padding:9px 12px;
	}
	
}
@media (max-width:900px){
	.product-grid-div{
		width:50%;
	}
	#products_grid section{
		background : none !important;
	}
	

	
/**Change**/
	
	#category_wrap{
		width: 30%;
	}
	.js_attributes {
	    width: 70%;
	}
	.filter_done_btn {
	    width: 25%;
	}
	.filter_block{
		width: 45%;
	}
	#products_grid_before .clear-all-filter {
	    margin-right: 1%;
	}
	.price_filter_main {
		width: 45%;
    }
    #products_grid_before{
		.attribute-filter-heading{
			.ellipsis(){
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    max-width: 90px;
			    display: block;
			}
			.ellipsis;
		}
	}
	.product-des
	{
		opacity:1;
		width:100%;
		display:block;
		
	}
	#quick_view_shop {
    opacity: 1 !important;
    }
    .filter_right_ul > li{
    	width:100%;
    }
}
@media (max-width:768px){
	.product-grid-div{
		width:50% !important;
	}
	.view-as-right-cnt{
		width:auto;
		.pt(0) !important;
	}
	.menu-filter-div a{
	//	margin: 10px 0 10px 10px;
	}
	.view-as-right-cnt{
		.pt(15px);
	}
	.product-image {

	}
}

@media (max-width:700px){
/**Change**/
	#products_grid_before{
		height:100%;
		#pull-out{
			display:none;
		}
	}
	.mobile-view-filter-close-btn {
	    display: block;
	}
	.apply-filter{
	    display:block;
	}
	.filter-option{
		top: 119px;
		left: 30px;
	}
	#category_wrap {
	    width: 100%;
	    padding-left: 0px;
	    .category{
	    	display:block;
	    }
		h4{
			position: unset;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.js_attributes {
	    width: 100%;
	}
	.filter_block {
	    width: 90%;
	    max-width: 100%;
	    .pt(5%);
	}
	.filter_done_btn{
		display:none;
	}
	.filter_done_btn_responsive
	{
		display:block !important;
	}
	.filter_right_ul{
		height:unset;
	}
	.price_filter_main{
		width:100%;
		padding-bottom: 20%;
	}
	#price_slider_form{
		width: unset;
		margin-top: 6px;
	}
	.sub-li-main {
		height: unset;
		max-height: 120px;
	}
	.clear-all-variant{
		padding: 0px 4px;
		font-size: 10px !important;
		margin-top: unset !important;
	}
	#o_shop_collapse_category{
		width: 90%;
		border-right: unset;
	}
}

@media (max-width:500px){
	.product-grid-div{
		width:100% !important;
	}
	#products_grid .oe_product.oe_grid
	{
		.mb(20px);
	}
	

}
