.modal{
	top: 65px !important;
}
.products_category_ul{
	overflow-y: auto;
	max-height: 329px;
}
#shop-container{
	width: 95% !important;
}
// ==> Filter_Css_Changes

#o_shop_collapse_category{
	width: 100%;
	float: left;
	border-right: 1px solid #cfcfcf;
}
#category_wrap > .category{
	display:none;
}
#category_wrap ul{
	li> a
	{
		padding: 0px 0px !important;
		color: rgba(84, 84, 84, 0.8);
		.bg(transparent);
	}
}
#catg_col_chevron{
	color:rgba(84, 84, 84, 0.8);
}
#category_wrap ul li.active a{
	color:#000 !important;
}
#category_wrap .nav-stacked > li + li {
    margin-top: 0px !important;
}
#category_wrap ul.nav-stacked > li > a::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(84, 84, 84, 0.8);
    float: left;
    margin: 3px 10px 0 0;
}
#category_wrap .nav-pills > li.active > a::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: rgba(84, 84, 84, 0.8);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(84, 84, 84, 0.8);
    float: left;
    margin: 3px 10px 0 0;
}
.ctg_sublvl_ul{
	.mt(8px);
	
	li a
	{
		.size(13px);
		white-space: nowrap;
		max-width: 180px !important;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
#o_shop_collapse_category{

}
.filter_block{
	width: 200px;
	padding: 0 10px;
	display: inline-block !important;
	margin-top:2px;
	vertical-align: top;
	max-height: 200px;
	overflow-y: auto;
	max-width:200px;
	overflow-x: auto;
}
.js_attributes{
	display: inline-block;
	width:79%;
	
	.attribute-filter-div>.filter-by-span{
		display: none;
	}
}
#category_wrap{
	display: inline-block;
	float: left;
	width:20%;
	padding-left: 15px;
	h4{
		position: absolute;
		margin-top: 1.5%;
	}
}
.filter_right_ul{
	overflow-y:auto;
	height: 360px;
	.pt(1%);
	
	>li{
		display: inline-block;
		width: 20%;
	}
}
.filter-option-div{
	display:inline-block;
	width:auto;
}
#products_grid_before{
	height: 370px;
	padding:0;
	.filter-option,#pull-out{
		display: inline-block;
		width: 99%;
		border-top: 1px solid #e4e4e4;
		padding-top: 10px;
	}
	.clear-all-filter{
		display: inline-block;
		float: right;
	}
	.filter-option-h2{
		display: inline-block;
		font-size: 14px;
		margin-top: 0;
	}
	
	.attribute-filter-heading{
		
		.ellipsis(){
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    max-width: 135px;
		    display: block;
		    .capitalize;
		}
		.ellipsis;
	}
}
.div_class_whole_filter{
	display: inline-block;
}

/******************************************************/
.cover-img-div{
	.common-div;
	max-width:100%;
	min-height:auto;
	.bg(#F5F5F5);
	
	.shop_main_heading
	{
		color:#000;
		.uppercase();
		.muli-regular();
		.size(40px);
		text-align:center;
		.mt(20px);
		.mb(20px);
	}
}
.shop-breadcrumb{
	.mt(-5px);
}
.infigo_product_breadcrumb{
	width:60%;
	background-color: transparent;
	display: inline-block;
	.pt(1%);
	.pb(1%);
	z-index:999;
	vertical-align:top;

	.sub_breadcrumb
	{
		/*.block;*/
		
		& .products_pager{
			.pt(0);
		}
	}
}
.shop-page-breadcrumb{
	.common-div;
	
	& .shop-breadcrumb{
		.block;
		width: 95%;
		max-width: 2000px;
		
		& .sub_breadcrumb{
			
		}
	}
}
.nav-view{
	width: 100%;
	display: inline-block;
	.left;
	
	.nav-selection-div{
		.left;
	
		.select-nevigation-home, .select-nevigation-child{
			color:#909090;
			.size(13px);
			.muli-bold;
			.left;	
		}
		.select-nevigation-child{
			.pt(2px);
			cursor: unset;
		}
		.home-icon{
			.left;
			color:#909090;
		}
		.select-nevigation-span{
			.pr(5px);
			.pl(5px);
			.left;
			color: #909090;
			.size(12px);
			.pt(3px);
			.muli-bold;
		}
	}		
}
#shop-container{
	.block;
	max-width:2000px;
	
	& div.row{
		.ml(0px);
		.mr(0px);
	}
}
.filter_icon{
	vertical-align:top;
	display:inline-block;
	
	i
	{
		.pt(8px);
		vertical-align: text-bottom;
	}
}
.right-cnt-main{
	.common-div;

	& .right-cnt-maxW{
		width: 95%;
		display: block;
		margin: 0px auto;
		max-width:2000px;
	}
	
	& .view-as{
		width:100%;
		display:inline-block !important;
		.uppercase;
		color: #3c3c3c;
		.size(11px);
		.muli-regular;
		.pt(1%);
		
		.view-mode{
			.left;
			
			.menu-filter{
				.size(14px);
				color:black;
				.muli-bold;
				.left;
				.mr(12px);
				.pt(4px);
				
				& i{
					color:black;
					.mr(5px);
				}
			}
		}
		.count_text_div{
			display:inline-block;
			.pt(6px);
			
			.products_found_text{
				color: #5f5f5f;
				.uppercase();
				.size(10px);
				word-spacing: 1px;
				
				span{
					padding:0 3px;
				}
			}
		}
		.view-as-right-cnt{
			display: inline-block;
			.right;
			.mr(10px);
			
			.filter-show{
				.right;
				.mr(5px);
				position: relative;
				display:inline-block;
				
				.filter-show-label{
					.muli-semibold();
					.capitalize();
					.size(12px);
				}
			}
			.filter-sort-by{
				.right();
				display: inline-block;
				
				.sort_shop_a{
					box-shadow:unset !important;
				}
				ul > li{
					padding: 5px 0px 5px;
				}
				
				
				.filter-sortby-label{
					.muli-regular;
					.size(12px);
					padding: 16px 0px;
				    margin: 0 20px 0 0;
				}
			}
		}
	}
}

.view-as-right-cnt{

	.dropdown-toggle{
		padding: 0px 10px 0px 10px;
		float: none;
	    color: #505050;
	    background: #fff !important;
	    line-height: 34px;
	    position: relative;
	    .capitalize;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    border-radius: 0;
	    
	    &:hover{
	    	color:#000;
	    }
	}
	.dropdown-menu{
		min-width: 110px;
	    left: auto;
	    position: absolute;
	    background-color: #fff !important;
	    background-clip: padding-box;
	    top:auto;
		.ml(0px);
		right:0;
		border-radius: 0;
		
		& li a{
			.capitalize;
			.muli-regular;
			.size(13px);
			color:gray;
		}
		
	    .active a{
	    	background-color: #f5f5f5;
			color: #66787f;
	    }
	}
}
#products_grid_before{
//	height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2% 0% 3% 0%;
}
#products_grid{
	.pt(1%);
	.pl(0);
	.pr(0);
//	z-index:1;
	width:100%;
}
.mobile-view-filter-close-btn{
	display:none;
	position: absolute;
	right: 5%;
	top: 0%;
	.size(17px);
	cursor:pointer;
}
.category{
	.muli-bold;
	.size(14px);
	.uppercase;
}
.apply-filter{
	.size(12px);
    color:black;
    display:none;
}
#shop_pager{
	width:auto;
	.right;
	 display: inline-block;
}
.bottom_pager{
	.mt(3%);
}
.pagination{
	margin:0;
}

.pagination > .active > a{
	.bg(@theme-color);
	color:#fff;
	border-color: #ddd;
	
	&:hover{
		color:#fff;
		.bg(@theme-color);
		border-color: #ddd;
	}
}
.pagination > .disabled > a{
	.bg(transparent);
	
	&:hover
	{
		.bg(transparent);
	
	}
}
.pagination > li:last-child > a{
	border-radius:0;
	border-right:unset;
}
.pagination > li > a{
	color:@color-black;
	.bg(transparent);
	border:unset;
	padding: 3px 12px;
	border-right:1px solid #ddd;
	.size(12px);
	.muli-bold;
	color: #a1a1a1;
	
	&:hover{
		color: @theme-color;
	}
}

.product_div{
	width:100%;
	height: 100% !important;
	border: 0px !important;
}
.product-image{
	position: relative !important;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	margin: 0px auto;

}
.itemscope-main{
	margin: 0 10px 0px 0;
	border: 1px solid #f2eeee;	
	
	& section{
		position: relative !important;
		padding: 10px !important;
		width: 100%;
	}
	& .product-name-h5{
		.left;
		margin: 0;
		width: 100%;
		.pt(3px);
		//.pb(5px);
		.mb(5px);
		
		& strong > a{
			color: #434242;
			font-weight: normal;
			.ellipsis;
			max-width: 100% !important;
			.capitalize;
			.muli-light();
			.size(14px);			
		}
	}
	
}
.main_grid_view{
	& .sort_description
	{
		display:none;
	}
}
.main_listid{
	& .product-description-div
	{
	//	display:block;
	}
}
.strick-price{
	color:#B8B8B8;
	.muli-regular;
	.size(13px);
	font-weight: normal;
	.mr(8px);
}
.deleted_price_responsive{
	float:left;
	display:inline-block;
	margin:0;
}
.fianl-price{
	color: #000 !important;
	.muli-regular();
	font-weight: normal;
	.size(14px);
	width:auto !important;
	.mt(0) !important;
	
	span
	{
		.muli-regular();
		.size(14px);
	}
}
#shop-container{
	.header_curency_selector
	{
		display:none;
	}
}
.in-stock , .warning{
	.size(12px);
	width:30%;
	.left;
    .muli-regular;
	
	& span{
		.right;
		background-color: #008000;    
		color: #FFF;    
		padding: 3px 10px 3px 9px;    
		.size(11px);
		border-radius: 1px;
	}
}
.warning{
	& span{
		background-color: #D5B91D;    
	}
}
.product_price{
	padding:0 !important;
	position:relative !important;
	display: inline-block;
	width:100%;
}
.product-description-div{
	width:100%;
	.mb(3px) !important;
	
	/*& >div{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		-webkit-line-clamp: 3;
		-moz-line-clamp: 3;  
		max-height:50px !important;
		overflow: hidden !important;
	}*/
}
.product-grid-div
{
	.product-description-div{
		display:none;
	}	
}
.oe_shop_left
{
	.product-description-div{
		display:none;
	}	
}
.oe_product .product-image img{
	position: relative !important;
	z-index:unset !important;

}
.image_overlay{
	background: rgba(255,255, 255, 0.95);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}	
.product-des{
	position: absolute;
	bottom: 0;
	width: 0;
	left: 0;
	display:none;
	border-bottom: 1px solid #f2eeee;
	opacity:0;
	z-index:10;
}
.itemscope-main:hover .product-des , .allow-border:hover .product-des{
	width:100%;
	display:block;
	opacity:1;
} 
.itemscope-main{
	&:hover #quick_view_shop{
		opacity:1;
	}
}

.products_category_ul{
	
	& li{
		width:100%;
		padding: 5px 0 5px 0;
		.mt(0) !important;
		
		& i.fa{
			position: absolute;
			right: 20px;
//			top: 12px;
			margin-top: 2%;
			color: rgba(84, 84, 84, 0.8);
		}
		
		& a{
			.muli-regular;
			.size(14px);
			color: rgba(84, 84, 84, 0.8);
			text-transform: capitalize;
			position: relative;
			.ellipsis;
			max-width:200px;
			padding: 3px 15px !important;
			
			&:before{
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				border: 1px solid rgba(84, 84, 84, 0.8);
				.left;
				margin: 5px 10px 0 0;
			}
			
			&:hover{
				background: white;
				color:#000;
			}
		}
	}
	& li.active > a{
		.muli-semibold;
		background: white;
		color:#000;
		
		&:before{
			background:rgba(84, 84, 84, 0.8);
		}
		
		&:hover{
			background: white;
			color:#000;
		}
	}
}
.attribute-filter-div{
	.common-div;
}
.filter-by-span , .attribute-filter-heading{
	.muli-bold;
	.size(14px);
	cursor: pointer;
	.mb(7%) !important;
	.mt(0) !important;
	.left;
	font-weight: normal;
}
.attribute-filter-heading{
	margin: 0 10px 0 5px;
}
.clear-all-variant{
	.size(10px);
	//.pt(5px);
	padding:0px 4px;
	border: 1px solid @theme-color;
	border-radius: 50%;
	color: @theme-color;
	display:none;
	
	&:hover{
		color: @theme-color;
	}
}
.attribute-chkbox-ul{
	.ml(0px) !important;
	
	& li{
		.mt(0) !important;
	}
}
#products_grid_before{
	& label.css_attribute_color{
		padding: 6px;
		border-radius: 50%;
		.left;
		margin: 3px 10px 0px 10px;
		border: 0;
		position: relative;
		
		& input{
			margin:-7px;
		}
	}
	& .css_attribute_color.active{
			border:1px solid @theme-color;
		}
	
	& .color-name{
		.capitalize;
		.muli-regular;
		.size(13px);
		color: #7d7d7d;
		.pb(7px);
	}	
}
.sub-li-main{
	max-height:300px;
	height:130px;
	overflow-x:auto;
	.common-div;
}
.filter-icon{
	.left;
	.size(12px);
	margin: 6px 6px 0 0;
	cursor: pointer;
	color: #717171;
}
.checkbox-custom-label{
	.size(13px);
	.ellipsis;
	max-width: 160px;
	color: rgba(84, 84, 84, 0.8);
	.capitalize;
}
.filter_right_ul{
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: 5px;
		top: auto;
		-moz-appearance: none;
		width: 17px;
		height: 17px;
		opacity: 0.001;
		cursor:pointer;
		z-index: 9999;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 2.30em;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 7px;
		top: 3px;
		width: 13px; 
		height: 13px;
		border: 1px solid #ccc;
		background: #fff;
		border-radius: 1px;
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✔';
		position: absolute;
		top:5px; 
		left:9px;
		font-size:11px;
		line-height: 0.8;
		color: @theme-color;
		transition: all .2s;
		
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
}

.transparent{
	display:none;
	background: rgba(0, 0, 0, 0.4) !important;
    z-index: 9998;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    transition: opacity 1s;
    max-width:100% !important;
}
.shop_view_popup_link_btn{
	.size(12px);
	height: 30px;
	letter-spacing: 2px;
	padding: 6px 20px;
	text-align: center;
	.uppercase;
	background: @theme-color;
	border-radius: 25px;
	border: none;
	color: #fff;
	transition: all 300ms;
	text-decoration: none;
	.muli-regular();
	.left();
	.mr(10px);
	
	&:hover
	{
		.bg(#000);
		color:#fff;
	}
}
.sale-div{

	position: absolute;
	width: auto;
	max-width: 150px;
	top: 3%;
	left: 3%;
	z-index:1;

	& .sale-btn{
		border-radius: 3px;
		padding: 4px 12px;
		.size(11px);
		color: #fff;
		background-color: @theme-color;
		transform: unset !important;
		-ms-transform: unset !important;
		-o-transform: unset !important;
		.capitalize();
		width: auto;
		.muli-semibold();
		
	}
}
.sale-btn::after
		{
			content: '';
			position: absolute;
			right: 8px;
			bottom: -7px;
			border-top: 2px solid transparent;
			border-bottom: 9px solid transparent;
			border-right: 9px solid @theme-color;
			transform: rotate(-23deg);
		}
.not_defined{
	  width: 100% !important;   
	  max-width: 800px !important;    
	  .maxW;

	.left_class{
		width: 40%;    
		.left;
	}
	.right_class{
		width:60%;
		.right;
		
		& img{
			max-height:245px;
			display:block;
			max-width:100%;
			width:auto;
			margin:0px auto;
		}
	}
	h3.css_editable_display{
		.size(30px);    
		.pt(14%);
		.muli-light;    
		.pb(10%);
	}
}
.maxW_div{
	.block;
	max-width: 1400px !important;
}
.pager_top.products_pager{
	.pt(7px);
	display: inline-block;
	.right();
}
/* Hover to show Wishlist , Compare , Quickview */ 
.bottom-hide{
	-webkit-animation:animateright 1s;
	animation:animateright 1s;
	transition:1s ease 0s;
	bottom:0;
	background: #fff;
}
@-webkit-keyframes animateright{
	from{bottom:-10px;opacity:0;} 
	to{bottom:0px;opacity:1;}
}
@keyframes animateright{
	from{bottom:-10px;opacity:0;} 
	to{bottom:0px;opacity:1;}
}

.product-grid-div{
	display:inline-block;
	vertical-align:top;
	.mb(2%);
	
	& .product_price{
		.mb(0);
	}
}
.catg_title_main
{
	.mb(10px) !important;
	.mt(10px);
	.pt(3%);
	.pb(3%);
}

.pager_arrow_left
{
	float:left;
	.mr(5px);
}
.pager_arrow_right
{
	float:right;
	.ml(5px);
}

.itemscope-main
{
	.product_price
	{
		.mt(5px);
	}
}
#wishlist_shop{
//	border-right: 1px solid #f2eeee;
}
#wishlist_shop,#compare_shop,#see_similar_product,#addtocart_shop
{
	width:15%;
	display:block;
	.left();
	border-left: 1px solid #f2eeee;
	height: 45px;
	text-align:center;
	
	i
	{
		vertical-align: bottom;
		color: #ccc;
		.size(14px);
	}
	.wishlist-heart
	{
		vertical-align: middle;
	}
}
#see_similar_product,#addtocart_shop,#compare_shop{
	a
	{
		padding: 11px 11px 16px 11px;
		display: block;
	}
}
#wishlist_shop{
	& .wishlink{
		a:first-child{
			padding: 11px 11px 16px 11px;
			display: block;
		}
	}
} 

.shop_wish_div
{
	.btn
	{
		color:#666;
		.bg(transparent) !important;
		padding:0;
	}

	&:hover .shop_wish_div .btn
	{
		color:#000;
		.bg(transparent);
	}
}

.a2c_temp
{
	display:none;
}


.product-original-image,.alternate-image
{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: auto;
	height: auto;
	transition: all .5s ease-in-out 0s;
}
.alternate-allow .product-original-image
{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	
	
}

.alternate-allow .alternate-image
{
		position: absolute;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
} 

.alternate-allow
{
	&:hover .product-original-image
	{
			-webkit-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	
	}
	&:hover .alternate-image
	{	
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		z-index: 1;
	}

}
.close_category_icon{
	color : #909090;
	.pl(10px);
	display: inline-block;
	.size(11px);
}
/*----------view filter---------*/
.menu_view_filter_div
{
	.pt(8px);
	.left();
	width:98%;
}
.sort_shop_a
{	
	span
	{
	color:#666;
	.muli-semibold();
	.capitalize();
	.size(12px);
	padding: 0 5px;
	}
}


/*---------list view------------*/

.infigo_shop_list
{
	width: 49% !important;
	display:inline-block;
	.pl(0) !important;
	
	.allow-border
	{
		border:none;
	}

}



/*------expandable breadcrumb----------*/


.nav-selection-div
{
	.sub_ctg
	{
		position: relative;
		margin: 0px 0px;
		padding: 0px;
		list-style: none;
		list-style-image: none;
		transition: 0.3s ease;
		
		a {
			display: block;
			font-size: 12px;
			color: #757575;
			text-decoration: none;
			background: #fff;
			white-space:nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: 0.3s ease;
			
		}
	
	}
}
.show_inactive{
	display:none;
}
