.main_left_grid_before{
	width:23% !important;
	position:relative !important;
	z-index:0 !important;
	.left;
	height: 100% !important;
	
	& #category_wrap{
		width:100%;
		
	}
	& .filter_done_btn
	{
		position: absolute;
		bottom: 0%;
		left: 5%;
		width: 60%;
	}
	& li.price_filter_main
	{
		.mb(5%);
		width: 90% !important;
		max-width: 100% !important;
	}
	
	& h4.category{
		position: unset !important;
		.mt(0) !important;
		display: block !important;
	}
	
	& #o_shop_collapse_category{
		border-right : unset;
	}
	& .js_attributes{
		width:100%;	
		.pt(10%);
		
		& .filter_right_ul{
			overflow-y: unset;
			height: 100%;
			
			& .filter_block{
				width:90%;
				.pt(5%);
				max-height: 100%;
				overflow-y: auto;
				max-width: unset;
				
				& .attribute-filter-heading{
					.mb(5%) !important;
					max-width : 85% !important;
				}
			}
			
			& .sub-li-main{
				max-height:150px;
				height: auto;
			}
		}
		
		& #pull-out{
			border-top : unset !important;
		}
	}
	.common-close-btn{
		display : none;	
	}
	.products_category_ul{
		max-height: 100%;
		overflow-y : unset !important
	}
}
.left_side_bar_view_filter
{
	width:75.5% !important;
	float:right !important;
}
.main_left_grid
{
	width: 75% !important;
	.right;
	
	& .image-4{
		width: 33.33% !important;
	}
	& .image-5{
		width: 25% !important;
	}
}

.oe_shop_left{
	.pb(2%);
	border: 0 !important;
	display: inline-block;
	width: 33%;
	vertical-align: top;
		
	& .sort_description{
		display:none;
	}
}
.right-cnt-maxW_left
{
	width: 95%;
	display: block;
	margin: 0px auto;
	max-width:1400px;
	.pl(15px);
}
.maxW_div{
	width:100%;
}

