.p_class_load_more_post
{
	cursor:pointer;
}
.product-grid-div
{
	float:left;
}
.remain_count_span{
	.pl(5px);
	display: inline-block;
	.size(10px);
	.capitalize;
}
.load_more_post_div
{
	text-align:center;
}
.shop_json_load_more
{
	.common-div;
}
