@media (min-width: 1200px) {
	.category-ul{
		padding: 0;
		width: 200px;
		
		& .first-level-category-li{
			position: relative;
			
			&:hover .second-level-category-ul{
				display:block;
			}
			
			&:hover  .all-categ-li span.show-more
			{
				color:#fff;
			}
			
			&:hover .first-level-a{
				background: @theme-color;
				color: #fff;
				.size(13px);
				transition: 0.5s;
				.ml(5px);
			}
			&:hover{
				background:@theme-color;
			}
			
			& .first-level-a{
			
			}
			
			& .second-level-category-ul{
				top: 0;
				left: 100%;
				display:none;
				.mt(0px);
				padding: 0;
				border: unset;
				width: 200px;
				
						
				& .second-level-category-li{
					position: relative;
					
					&:hover .third-level-category-ul{
						display:block;
					}
					
					&:hover .second-level-a{
						background:@theme-color;
						color: #fff;
						.size(13px);
						transition: 0.5s;
						.ml(5px);
					}
					&:hover .span.show-more
					{
						color:#fff !important;
					}
					&:hover{
						background: @theme-color;
					}
					
					
					& .second-level-a{
						
					}
					
					& .third-level-category-ul{
						top: 0;
						left: 100%;
						display:none;
						.mt(0px);
						padding: 0;
						border: unset;
						width: 200px;
						
						& .third-level-category-li{
							
							&:hover .third-level-a{
								background:@theme-color;
								color: #fff !important;
								.size(13px);
								transition: 0.5s;
								.ml(5px);
							}
							
							&:hover{
								background:@theme-color;
							}
							
							& .third-level-a{
								
							}
						}				
					}
				}
			}
		}
		
		& .first-level-a , .second-level-a , .third-level-a{
			padding: 8px 40px 8px 20px;
			.muli-regular;
			.size(13px);
			.ellipsis;
			max-width:200px !important;
		}
		
		& .right-arrow-span{
			position: absolute;
			left: -19px;
			top: 11px;
			color: #fff;
		}
	}
	.category-ul span.show-more{
		display: block;
		position: absolute;
		right: 10px;
		top: 13px;
		cursor: pointer;
		.size(10px);
	}
}
@media (max-width: 1200px) {
	.right-arrow-span{
		display: none;
	}
	.category-ul span.show-more{
		width: auto;
		padding: 10px 20px 10px 20px;
		text-align: right;
	} 
	.static-menu-div-maxw{
		width: 100%;
	}
	span.show-more{
		display: block !important;
		position: relative;
		width: 10%;
		.right;
		cursor: pointer;
		.mt(4px);
	}
	.all-category-header .all-category{
		width: 20% !important;
		min-width: 200px;
	}
	.all-category-header{
		& .category-ul{
			
			& ul.dropdown-menu{
				position: relative;
				padding: 0px 0px 0px 10px;
			}
		}
		& li a{
			width: 83% !important;
		}
	}
	.all-category-header span.show-more{
		.right !important;
		position: relative !important;
		cursor: pointer;
		width: 10%;
		.size(12px);
		.mt(6px);
	}
	.all-category{
		width: 100% !important;
		position: relative;
		border: none;
		box-shadow: unset;
		
		& .category-ul{
			width: 100%;
			padding: 0px 0px 0px 10px;
			
			& li{
				position: relative;
				& a{
					display: inline-block !important;
					width: 80%;
					padding: 12px 0px 12px 0px !important;
					.ellipsis;
					max-width:85%;
				}
				span.show-more{
					padding: 10px 15px 10px 15px !important;	
				}
			}
		}
		& .all-category-dropdown{
			width:100% !important;
		}
		& ul{
			width: 100%;
			border: none;
			box-shadow: unset;
			padding: 0px 0px 0px 20px;
		}
	}
	.main-header-right{
		/*width:100% !important;*/
		
		& .header-right{
			/*text-align: left;*/
			
			& .header-static-cnt:last-child{
				border-right: 1px solid #E1E1E1;
			}
			& .header-static-cnt-text{
				padding: 5px 10px 5px 10px;
			}
		}
	}
	.header-static-cnt-text{
		.size(12px) !important;
		padding: 5px 0px 5px 0px !important;
	}
	.header-static-cnt-icon{
		.size(12px) !important;
		padding: 5px 5px 5px 8px !important;
	}
	.cart-update{
		
		width:100% !important;
		
		& .cart-update-text{
			
		}
	}
	
	.header-search-div{
		width:65%;
		
		& div.input-group{
			width: 100% !important;
			
			& .input-group-btn{
				width:0;	
			}
		}
		& .oe_search_box{
			border-left: 1px solid #E1E1E1 !important;
			width: 100% !important;
		}
	}
	.header-center-center-div{
		width: 70% !important;
		/*.pb(0) !important;
		.pt(1%) !important;	*/
		
		& .all-category-dropdown{
			width: auto !important;
		}	
	}
	.header-main-signin	span.header-static-cnt-text{
		//display : none;
	}
	/*.header-center-right-div{
		float: unset !important;
		.common-div;
		.pt(1%) !important;
		.pb(1%) !important;
	}*/
	/*.main-header-left{
		width: 100% !important;
		border-right: 1px solid #E1E1E1;
		border-bottom: 1px solid #E1E1E1;
	}*/
	
	.navbar-static-top{
		background: #fff;
	}
	.infigo-top-menu{
		& li a span{
			color: gray;
		}
		& li a{
			padding : 15px 25px 15px 0px
		}
	}  
	.category-heading-center{
		& .category-heading-p-hr{
			display: none;
		} 
		
		& .expand-div{
			display : none;
			width: 100%;
			box-shadow: unset;
			border: none;
			.pl(15px) !important;
		}
	}
	.static-menu-div{
		position: relative;
		width: 100%;
		left: 0;
		border: none;
		box-shadow: unset;
		.pb(2%);
		
		& .custom-menu-inside-left-div{
			width: 100% !important;

			& .category-heading-div{
				width: 100% !important;				
			}
		}
		& .custom-menu-inside-right-div{
			display: none;
		}
	}
	
	
		
	.navbar .navbar-top-collapse ul.navbar-right {    
		float: none !important;    
		width: 100%;    
		.left;    
		.mr(0px) !important;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {    
		.mr(0px);    
		.ml(0px);

	}
	.container > .navbar-header
	{
		max-width: 100%;
	}
    .navbar .navbar-header .navbar-brand img
	{
		.left();
		max-height: 60px;
	}

 	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin : 0;
        .mb(2%);
        border-radius: 0;
        .left;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-static-top .collapse.in{
  		display:block !important;
	}
	
	.navbar-default .navbar-nav > .open > a{
		background-color : white;
		color:@theme-color;
		
		&:hover{
			background-color : white;
		}
	}
	ul#top_menu{
	
		> li:hover{
			border-top:0;
			.mt(0);
		}
		> li.active{
			border-top:0;
			.mt(0);
		}
		li ul.dropdown-menu{
			position:relative;
			width: 100%;
			border: none;
			box-shadow: unset;
		}
	}
	#top_menu{
		margin:0;
		.left !important;
		width: 100%;
	}
	.header-center-right-div{
		width: 10%;
		.right !important;
		.pb(0) !important;
		
		& .cart-update{
			.right;
			border: none !important;
			
			& .cart-update-text{
				display: none;
			}
			
			& .cart-update-icon{
				padding : 10px 14px 12px 14px !important;
			}
		}
	}
}

@media (max-width: 1000px) {
	.all-category-header .all-category{
		width: 40% !important;
	}
	.header-search-div{
		width: 60%;
	}
	.all-categ-li .all-category{
		width: 100% !important;
	}
}

@media (max-width: 900px) {
	.cart_mobile{
		display: inline-block;
	}
	.cart-update{
		display: none;
	}
	.header-center-center-div{
		width: 100% !important;
		.pt(0%) !important;
		
		& .all-category-dropdown{
			width: auto !important;
		}
	}
	
	.main-header-left{
		display: none;
	}
	.main-header{
		background: unset;
		border-bottom: unset;
		.pb(2%);
	}
	.header-center-left-div{
		position: absolute;
		top: 0;
		width: auto !important;
	}
	.header-right{
		.right !important; 
	}
	.main-header-right{
		border-right : unset !important;
		.pt(10px);
		width:75% !important;
	}
	.header-static-cnt{
		border-left : unset !important;
	}
	.header-static-cnt:last-child{
		border-right : unset !important;
	}
	.header_admin_border span.header-static-cnt-text{
		display : none;
	}
	.infigo_container{
		& .navbar-collapse{
			.pl(0);
			.pr(0);
		}
	}
	.header-main-signin .header-static-cnt-icon {
	    padding-right: 10px;
	}
	.static-menu-div{
		position: relative !important;
		width: 100% !important;
		.left !important;
	}
	.header-static-cnt-icon{
		padding: 5px 10px 5px 10px !important;
	}
	.header-center-right-div{
		.pt(1%) !important;
	}
	.all-category-header{
		
		& li a{
			.ellipsis();
			max-width: 150px !important;
		}
	}
	.main-header .main-header-maxW .main-header-right .header-right .header-static-cnt .header-main-signin .account-ul
	{
		left:-60px;
	}
}

@media (max-width: 600px) {
	.main-header{
		.pb(1%);
	}
	.all-category-header .all-category {
	    width: 100% !important;
	    
	    & .all-category-dropdown{
	    	width: 100% !important;
	    }
	}
	.header-center-left-div{
		top:4px;
		//width: 100% !important;
	}
	.header-center-center-div{
		.pt(0%) !important;
	}
	.company-logo-div{
		& .navbar-brand{
			float : unset;
			
			& img{
				max-width: 75%;
			}
		}
	}
	.header-main-signin #login_user_name
	{
		.header-static-cnt-icon
		{
			padding:0 !important;
		}
	}
	.header-search-div{
		width: 100%;
		.pt(5px);
	}
	.main-header-right{
		.pt(0%);
		.pb(0%);
		width: 75% !important;
		float: unset !important;
		display: inline-block;
		text-align: center !important;
	}
	.header-center-main .header-center-main-maxw .header-center-left-div .company-logo-div {
    max-width: 100px;
    display: inline-block;
    width: auto !important;
    }
    .header-static-cnt-icon {
    padding: 5px !important;
	}
	.header-right .wishlist_header_div.wish_header_p {
    padding: 5px !important;
		}
	.header-right	.header_compare_p {
    padding: 5px !important;
	}
	.main-header .main-header-maxW .main-header-right .header-right .header-static-cnt .header-main-signin .account-ul {
	   
	    left: -70px;
	}
	/*.price_list_div
	{
		display:inline-block;
	}*/
	.header-pricelist
	{
		display:none;
	}
}
@media (max-width: 400px) {
	
	.main-header .main-header-maxW .main-header-right .header-right .header-static-cnt .header-main-signin .account-ul {
	   
	    left: -100px;
	}

}
