.infigo_container{
	width: 90%;
	max-width: 1400px !important;
	margin: 0px auto;
	display: block;
	padding: 0;
}
.header_flag_div
{
	display:inline-block;
	vertical-align: sub;
}
.lang_img
{
	max-height:17px;
}
.search_placeholder{
	position: absolute;
	left: 0;
	z-index: 2;
	padding: 11px;
	color: #999999;
}

.main-header{
	.common-div;
	background: #F7F7F7;
	border-bottom: 1px solid #E1E1E1;
	display:inline-block !important;
	
	& .main-header-maxW{
		.block;
		
		& .main-header-left{
			width:55%;
			.left;
			
			& .header-static-cnt{
				display:inline-block;
				border-left: 1px solid #E1E1E1;
				padding: 10px 5px 10px 5px;
				
				& .header-static-cnt-icon{
					.size(14px);
					color: #787474;
					padding: 5px 5px 5px 10px;
				}
				
				& .header-static-cnt-text{
					.size(13px);
					.muli-regular;
					color : #A8A8A8;
					padding: 5px 5px 5px 5px;
				}
			}
		}
		
		& .main-header-right{
			width:45%;
			.right;
			border-right: 1px solid #E1E1E1;
			text-align: right;
			
			& .header-right{
				
				& .header-pricelist{
					padding: 0px 5px 0px 5px;
					
					& a{
						color : #A8A8A8;
					}
					
					& ul.dropdown-menu{
						z-index: 2000;
						.mt(8%);
						border-radius: 0;
						min-width:auto;
						left:-6px;
					}
				}
				
				& .ul_margin
				{
					& ul.dropdown-menu{
						z-index:2000;
						min-width:auto;
						
						li >a
						{
							padding: 3px 12px;
						}
					}
				
				
				}
				
				& .header-static-cnt{
					display:inline-block;
					border-left: 1px solid #E1E1E1;
					padding: 10px 5px 10px 5px;
					
					& .langauge-icon{
						width:16px;
					}
					
					& .header-static-cnt-icon{
						.size(13px);
						color: #787474;
						padding: 5px 10px 5px 14px;
					}
					
					& .header-static-cnt-text{
						.size(14px);
						.muli-regular;
						color : #A8A8A8;
						padding: 5px 5px 5px 5px;
					}
					
					& .header-main-signin{
						padding: 0;
						list-style: none;
						.mb(0);
						
						& .header-static-cnt-icon{
							.pr(2px);
						}
						
						& .account-ul{
							z-index: 9999;
							.mt(8%);
							left : -6px;
							border-radius: 0;
							width:186px;
							
							#o_logout
							{
								padding:10px 9px 4px;
								width:100%;
								.mt(14px);
								
								
								a
								{
									.bg(@theme-color);
									color:#fff;
									margin:0 auto;
									padding:7%;
									text-align:center;
									.uppercase();
									width:100%;
									transition: opacity 0.3s ease-in-out;
   									opacity: 0.8;
								
								
									&:hover
									{
										opacity: 1.0 ;
									}
								}
							}
							
							li
							{
								padding: 12px 6px 6px;
								
								.fa_common_style_header
								{
									color:@theme-color;
									.size(12px);
									padding:3px 5px 0 15px;
									.left();
									width:20%;
									margin:1px 6px 0 0;
								}
								a
								{
									color:gray;
									.size(13px);
									.capitalize();
									.ellipsis();
									padding: 0;
								}
							}
							
						}
					}
				}
				
				& .notification-div{
					cursor:pointer;
					position : relative;
					
					& i{
						color: red;
					}
					
					& sup{
						color: red;
					} 
				}
			}
		}
	}
}
.header_style_image{
	width: 12px;
	display: inline-block;
	.pt(0px);
}
.all-categ-li{
	& .all-category{
		padding : 0;
		
		& .all-category-dropdown{
			border-radius: 0;
			width:200px;
			border: 1px solid #E1E1E1;
			
			& a.dropdown-toggle{
				text-decoration : none;
				
				& .all-category-dropdown-icon{
					
					& i{
						position: absolute;
						position: absolute;
						right: 0;
						top: 0;
						.size(12px);
						padding: 14px;
					}
				}
			}
			
			& .dropdown-menu{
				border-radius: 0;
				z-index: 2000;
			}
		}
	}
}

.all-categ-li{
	
	& .category-ul{
		border-radius : 0;
		margin :0; 
		list-style: none;
		
		& li{
			
			& a{
				color: #000;
				.capitalize;
				
				&:hover li a{
					color : #fff !important;
				}
			} 
		}
	}
	/*&:hover .category-ul{
		display:block;
	}*/
}
.header-center-main{

	width:100%;
	background: #fff;
	
	& .header-center-main-maxw{
		.block;
		
		& .header-center-left-div{
			.left;
			width : 20%;
			//.pt(10px);
			
			& .company-logo-div{
				max-width: 150px;
				display: inline-block;
				
				& .navbar-brand{
					padding : 0;
					height : auto;
				}
			}
		}
		
		& .header-center-center-div{
			width: 58%;
			.left;
			.pt(2%);
			.pb(2%);
			
			& .all-category{
				.left;
				
				& .all-category-dropdown{
					border-radius: 0;
					width:200px;
					border: 1px solid #E1E1E1;
					padding: 10px 0px 10px 15px;
					
					& a.dropdown-toggle{
						text-decoration : none;
						
						& span.js_categ{
							.ellipsis;
							max-width: 150px !important;
						}
						& .all-category-dropdown-icon{
							
							& i{
								position: absolute;
								position: absolute;
								right: 0;
								top: 0;
								.size(12px);
								padding: 14px;
							}
						}
					}
					
					& .dropdown-menu{
						border-radius: 0;
						z-index: 2000;
					}
				}
			}
			
			& .header-search-div{
				.left;
				
				& .input-group
				{
					z-index: 1;
				}
				
				
				& .form-control{
					height: 42px;
					border: 1px solid #E1E1E1;
					border-radius: 0;
					border-left: none;
					width:350px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					/*.muli-italic();*/	
					
					&:focus{
						box-shadow: unset;
					}
				}
				
				& .oe_search_button{
					padding: 9px 14px;
					.size(15px);
				}
			}
		}
		
		& .header-center-right-div{
			.right;
			.pt(2%);
			.pb(2%);
			
		}
	}
}

.infigo-top-menu{
	
	& li a{
		padding: 15px 25px 15px 25px;
	}

	& li a, li a span{
		.muli-semibold;
		.size(13px);
		.uppercase;
		color: #fff;
		background-color: unset !important;
	} 
	& li a .caret
	{
		.ml(8px);
	}
	& li.active{
	
		& span{
			color: #000;		
		} 
		
		& a{
			background-color: #fff !important;
		}
	}
	& .dropdown.open{

		& a.dropdown-toggle{
			
		}
		
		& ul.dropdown-menu{
			& li a{
				color:#000;
				.capitalize !important;
			}
			& li span{
				color:#000;
				.capitalize !important;
			}
		}
	}
}
.all-categ-li .category-ul li
{
	&:hover .all-categ-li .show-more
	{
		color:#fff;
	}
}


/* Category */
/*.category-ul{
	padding: 0;
	width: 200px;
	
	& .first-level-category-li{
		position: relative;
		
		&:hover .second-level-category-ul{
			display:block;
		}
		
		&:hover .first-level-a{
			background: @theme-color;
			color: #fff;
			.size(14px);
			transition: 0.5s;
			.ml(5px);
		}
		&:hover{
			background: @theme-color;
		}
		
		& .first-level-a{
		
		}
		
		& ul.dropdown-menu{
			
			& li a{
				//color : #fff !important;
			}
		}
	}
	& ul.dropdown-menu{
		& li a span{
			color : #000;
		}
	}
}*/
	
/* Category */


.header-static-cnt-icon-w
{
	font-size: 13px;
	display:inline-block;

	#my_wish
	{
		.pr(10px);
		.pl(14px);
		list-style:none;
		
		a
		{
			color: #787474;
		}
	}
}

/* Override base css */
.navbar-static-top{
	border: none;
	background : @theme-color;
	z-index:2;
}
#top_menu .divider{
	display:none;
}
.dropdown-toggle:focus{
	text-decoration : none;
}
.owl-carousel
{
	z-index:0 !important;
}
/* Stick Header  */
.header-stick{
	position: fixed;
	top:0px;
	background: @theme-color;
	left:0;
	transition: 0.3s;
	width: 100%;
	z-index: 1000;
	
	#top_menu{
		
		/*& li.active{
			& a{
				background-color : #000 !important;
			}
			& span{
				color: #fff !important
			}
		}*/
	}
}
.logo-stick{
	position: fixed;
    top: 0px;
    z-index: 1;
    max-height: 39px !important;
	.mt(15px) !important;   
	left: 5%; 
}

/* All Categ in Menu */
.all-categ-li-static{
	position: inherit !important;
}

.category-ul li{
	width: 100%; 
}
.static-menu-li{
	position: inherit !important; 
}
.static-menu-div{
	display : none;
	position: absolute;
	width: 80%;
	left: 10%;
	background: #fff;
	top : 100%;
	
	& .static-menu-div-maxw{
		.block;
		
		& .custom-menu-inside-left-div{
			width:70%;
			.left;
			.pb(3%);
			
			& .category-heading-div{
				width: 32%;
				.left;
				padding: 15px 15px 0 10px;
				display: table;
				
				& .category-heading-center{
					display: table-cell;
					position: relative;
					
					& a{
						.size(14px);
						.muli-regular;
						color:@theme-color;
						letter-spacing: 1px;
						.capitalize;
						padding: 0;
					}
					& p{
						.size(14px);
						color:@theme-color;
					}
					
					& .expand-div {
						padding : 0;
					}
					
					& .category-heading-p-hr{
						padding: 0;
						.mb(15px);
						.mt(15px);
						width: 100px;
						.left;
						border-top: 1px solid @theme-color;
					}
					
					& h4{
						clear:both;
						
						& a{
							color:black;
							.size(13px);
							.muli-regular;
							color: gray;
							padding: 0;
							
							&:hover{
								color:black;
							}
						}
					}
				}
			}
		}
		& .custom-menu-inside-right-div{
			width:30%;
			.left;
			.pt(2%);
			
			& .static-image-div{
				width:90%;
				.right;
				
				& img{
					width: auto;
					max-width:100%;
				}
			}
		}
	}
}

.category-heading-center{
	& span.show-more{
		display: none;
	}
}
.cart_mobile{
	display:none;
	border: 1px solid #000;
	padding: 6px 10px 6px 10px;
	margin: 0px 0 10px 20px;
}

/*Click to scroll top*/
.scrollup-div{
	position: fixed;
    right: 15px;
    bottom: 15px;
    background: black;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display:none;
    cursor: pointer;
    transition:0.3s;
    z-index:9999;
    
    &:hover{
    	background:@theme-color;
    }
    
    
    .scrollup-a
    {
    	padding:0 !important;
    }
    
    .scrollup-i{
	    padding: 6px 0px 0 10px;
	    .size(21px);
	    color: white;
	    font-weight: 900;
	    width: 35px;
    	height: 35px;
    	transition:0.3s;
    }
}

.ul_margin
{
	.ml(0);
	.mb(0);
	
	a{
		color:#A8A8A8;
	}
}

/* Load icon style in Layout */
.cus_theme_loader_layout svg path,
.cus_theme_loader_layout svg rect{
  fill: @theme-color;
}
.cus_theme_loader_layout svg{
	.center;
}    
.cus_theme_loader_layout{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 9999;
}
.cus_theme_loader_div_layout{
	.mt(29%);
	.common-div;
}

.price_list_div
{
	display:none;
	padding: 5px 15px;
	
	.header-static-cnt-text
	{
		color:#555;
	}
}
.new
{
font-style:unset !important;
}







//default_check_box

.s_website_form{
	& .radio label, .checkbox label{
		padding:0;
	}
	& input[type="radio"], input[type="checkbox"]{
		margin: 8px 0 0;
	}
	& label > input[type="checkbox"]{
		vertical-align: top;
		padding: 0 5px;
	}
	
	& .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
		position: relative;
		margin-top: 2px;
	}
}




