.home_style_2
{
	.owl-nav .owl-prev {
	    font-size: 15px;
	    position: absolute;
	    top: -30px;
	    right: 20px;
	    left: auto;
	     background-color: #e6e5e5;
  		  padding: 6px;
  		  padding-top: 0;
    padding-bottom: 0;
	}
	.owl-nav .owl-next {
	    font-size: 15px;
	    position: absolute;
	    top: -30px;
	    right: 0;
	    background-color: #e6e5e5;
  		  padding: 6px;
  		  padding-top: 0;
    padding-bottom: 0;
	}
	
	
}
.light_font
{
	.muli-light();
}
.d_left_image
{
width: 26%;
.left();

.d_left_two_img
{
	img
	{
	width:auto;
	max-width:100%;
	.center;
	.mb(16px);
	max-height:500px;
	}
}
}
.l2_cc_left
{
	.mt(25px) !important;
}
.d_right
{
width:73%;
.right();
}
.d_right_image
{
.common-div;
.bg(rgb(238,238,238));
.d_r_image
{
width:60%;
.left();
img
{
width:auto;
max-width:100%;
.center;
.pt(3%);
}
}
}
.d_c_right_content
{
width:40%;
.right();
.mt(11%);
}
.d_c_contnt
{
.size(16px);
.mb(10%);
}
.mt10
{
.mt(1%);
}
.block_main
{
width: 95%;
max-width: 1400px;
.center;
}
.right_50
{
width:49%;
.left();
padding:1%;
.bg(rgb(238,238,238));

}
.right_left_image
{
width:60%;
.left();
img
{
width:auto;
max-width:90%;
.center;
max-height:250px;
}
}
.right
{
.right() !important;
}
.mt1
{
.mt(1%);
}
.right_right_image
{
width:40%;
.right();
.mt(8%);
}
.btn_s
{
padding: 8px 15px !important;
}
.s_common_heading
{
.size(16px);
.mb(7%);
}
.s_d_c_contnt
{
.size(12px);
.mb(11%);
}
.l2_cc_left
{
	border: 1px solid #e4e2e2;
	
	.ts5_review_ind
	{
		width:100% !important;
		
		.ts5_review_text_right
		{
			padding:5%;
		}
	}
	
	.owl-nav .owl-next
	{
		top:-25px;
	}
	.owl-nav .owl-prev
	{
		top: -25px;
	}
	
}
.three_col_1
{
width:30%;
.left();
}
.image_div
{
.bg(rgb(255,241,74));
.pt(2%);
.pb(2%);
img
{
width:auto;
max-width:100%;
.center;
}
}
.left_img_six_block{
width:24%;
.left();
img
{
width:auto;
max-width:79%;
.center;
}
}
.right_content_six_block
{
width:72%;
.right();
}
.c_block
{
.muli-semibold();
.size(17px);
 text-align:left;
 color: #696969;
}
.c_subblock
{
.muli-light();
.size(12px);
text-align: left;
.mt(4px);
}
.style_6_block
{
padding:6%;
border: 1px solid #e4e2e2;
.mt(10px);
}

.b_offer_3c_home2
{
	.l2_ind_column_main
	{
		img
		{
			max-height:165px;
		}
	}
}
.l2_ind_column_main
{
	width:32.3%;
	display:block;
	.left();
	.mr(1%);
	padding:2%;
}
.tc_l2_bg1
{
	background-color:#54ccdd;
}
.tc_l2_bg2
{
	background-color:#ff7b7c;
}
.tc_l2_bg3{
	
	background-color:#F7B422;
}
.padding_class
{
padding:5%;
}
.tc_l2_text_heading{
	color:#fff;
	.muli-bold();
	.size(23px);
	.mb(7%);
	.uppercase();
}
.tc_l2_text_content
{
	color:#fff;
	.muli-semibold();
	.size(15px);
	.mb(10%);
}

.d_left_img_1,.image_div,.d_left_img_2
{
	position:relative;
	text-align: center;
	overflow: hidden;
	

	a::before
	{
		background: rgba(255,255,255,.2);
		bottom: 0;
		content: "";
		left: 50%;
		position: absolute;
		right: 51%;
		top: 0;
	}
	a::after
	{
		background: rgba(255,255,255,.2);
		bottom: 50%;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
		opacity: 1;
	}
	
	&:hover
	{
		a::before
		{
			left: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 900ms linear;
			-moz-transition: all 900ms linear;
			-ms-transition: all 900ms linear;
			-o-transition: all 900ms linear;
			transition: all 900ms linear;
		}
		a::after
		{
			top: 0;
			bottom: 0;
			opacity: 0;
			-webkit-transition: all 900ms linear;
			-moz-transition: all 900ms linear;
			-ms-transition: all 900ms linear;
			-o-transition: all 900ms linear;
			transition: all 900ms linear;
		}
	}
}

.home_style_2 {
	& .chs_heading{
		.size(15px) !important;
		display: block !important;
		margin: 0px auto !important;
		.muli-semibold() !important;
		.uppercase !important;
		color: #6c6b6b !important;
		.mb(8px) !important;
		.mt(0px) !important;
		text-align: left !important;
	}
	
	& .headline_tab{
		text-align: left !important;
		.mb(10px) !important;
	}
	
	& .owl-nav .owl-prev , .owl-nav .owl-next{
		top: -32px;
	}
	
	& .headline_tab .filter_static_title{
		.pb(3px) !important;
	}
}
