@media (max-width: 1100px) {
	.d_left_image
	{
		width:100%;
		float:none;
		display:inline-block;
		
		.d_left_two_img
		{
		display: inline-block;
		width: 69%;
		
		.d_left_img_1,.d_left_img_2
		{
			width: 50%;
			display: block;
			float: left;
		
				
		img
		{
		//	max-width:48% !important;
			float: left;
			margin-left: 1% !important;
			margin-top: 16px;
		}
		}
		}
	}
	.l2_pc_left
	{
		width: 30%;
		vertical-align: top;
	}	
	.l2_pc2_left
	{
		width: 35%;
		vertical-align: top;
		.left();
	}
	.l2_static_div_left
	{
		width: 30%;
		vertical-align: top;
		.ml(2%);
		.left();
	}
	.l2_cc_left
	{
		width:30%;
		vertical-align: top;
		.ml(2%);
		.left();
	}
	.padding_class
	{
		padding:16px;
	}
	.l2_pc2_left2
	{
		.div_main_class_carousel_style2
		{
			width: 23%;
		}
	}
	.d_right
	{
		width:100%;
		float:none;
		.mt(32px);
	}
}
@media(max-width :1000px){
	.d_left_image .d_left_two_img
	{
		width:100%;
	}
	.l2_pc_left {
    width: 100%;
    }
    .l2_pc2_left
    {
    	width:49%;
    }
    .l2_static_div_left
    {
    	width:49%;
    }
    .l2_cc_left
    {
    	width:100%;
    	.ml(0);
    }
    .d_left_image .d_left_two_img .d_left_img_1 img, .d_left_image .d_left_two_img .d_left_img_2 img
    {
    	float:none;
    	margin: 0px auto !important;
    }
    .l2_pc2_left2 .div_main_class_carousel_style2 {
    width: 48%;
}

}
@media(max-width :900px){
	
	.b_offer_3c_home2 .l2_ind_column_main img {
    max-height: 145px;
	}

}

@media (max-width: 800px) {

	.d_left_image {
	
		.d_left_two_img
		{
				width:100%;
		
			 img {
		  //  max-width: 48% !important;
		    .mt(0);
		    }
	    }
    }
     .d_left_image .d_left_two_img .d_left_img_1 img, .d_left_image .d_left_two_img .d_left_img_2 img
    {
    	margin-left: 1% !important;
    }
    .l2_pc2_left2
	{
		.div_main_class_carousel_style2
		{
			width: 48%;
		}
	}
    .l2_pc_left
    {
    	width: 100%;
    }
    .l2_pc2_left {
 		
 		width:100%;
    
    .div_main_class_carousel_style2
		{
			width: 48%;
		}
   }
   .l2_cc_left
   {
   	width:100%;
   	//.ml(1%);
   	float:none;
   	.mt(32px) !important;
   }
   .l2_static_div_left {
    width: 100%;
    .ml(0);
    	.style_6_block
    	{
    		width: 49%;
			float: left;
			margin-right: 1%;
    	}
    }
    
   .l2_pc1_right
   {
   		.div_main_class_carousel
   		{
   			width:50%;
   		}
   }
   .l2_pmc_right
   {
   		.non
   		{
   			width: 48%;
   		}
   }
   .l2_pmc_right
	{
			.headline_tab .filter_static_title p
			{
				.size(14px);
			}
	}
	.b_offer_3c_home2 .l2_ind_column_main img {
    max-height: 115px;
	}
	.tc_l2_text_heading
	{
		.size(18px);
	}
	.tc_l2_text_content
	{
		.size(14px);
	}
}
@media (max-width: 700px) {

	.b_offer_3c_home2 .l2_ind_column_main img {
    max-height: 160px;
	}
	.l2_ind_column_main
	{
		width:60%;
		float:none;
		margin: 0px auto;
		.mb(2%) !important;
	}
	.tc_l2_text_heading {
   .size(23px);
	}
}

@media (max-width: 600px) {

	.d_left_image .d_left_two_img .d_left_img_1,.d_left_image .d_left_two_img  .d_left_img_2
	{
		width: 100%;
		.mb(5%);
		
		img
		{
			margin: 0px auto !important;
			float: none;
		}
	}
	.l2_pc_left {
    width: 90%;
	}
	.l2_pc2_left {
    width: 90%;
    margin: 0px auto;
    float: none;
	}
	.l2_pc2_left  .div_main_class_carousel_style2 {
    width: 100%;
    }
    .l2_static_div_left {
    width: 90%;
    margin: 0px auto;
    float: none;
	}
	.l2_static_div_left .style_6_block {
    width: 100%;
    }
    .l2_cc_left {
    width: 90%;
    }
    .l2_pc2_left2
    {
    	width:90%;
    	margin:0px auto;
    }
    .l2_pc2_left2 .div_main_class_carousel_style2 {
    width: 100%;
	}
	.right_50 {
    width: 100%;
    .mb(5%);
    }
    .l2_pc1_right
    {
    	width: 90%;
		margin: 0px auto;
		
		.div_main_class_carousel {
		    width: 100%;
		}
    }
    .l2_ind_column_main
	{
		width:70%;
	}
    
}

@media (max-width: 400px)
{
	.l2_ind_column_main
	{
		width:80%;
	}

	.l2_pmc_right
	{
		.headline_tab .filter_static_title p
			{
				.size(13px);
			}
	
		.non
		{
			width:90%;			
		}
	}

}
