<section class="container">
    <div class="oe_row oe_spaced" >
		 <div class="oe_mt32" >
			 <a href="https://www.youtube.com/embed/TgOaP1JuJOs" target="_blank">
            <img class="img img-responsive" src="Infigo_support.jpg" style="margin:0px auto;" />
            </a>
        </div>
         <div class="oe_mt32" >			
            <img class="img img-responsive" src="infigo_manual.jpg" style="margin:0px auto;" />
        </div>

        <h2 class="oe_slogan" >Theme Infigo</h2>
        <h3 class="oe_slogan oe_mb32">Fully Responsive Odoo eCommerce Theme</h3>
        
            <p class="oe_mt16" style="line-height: 190%;">
            	Infigo is a flexible, fast and fully responsive Odoo eCommerce theme which can be put to comprehensive use.
            	Equipped with latest design trends and user-friendly functionalities, 
            	Infigo can be used for multiple website categories like fashion, footwear, electronics, business, health, jewellery etc. 
            	Infigo's retina ready design is built using Bootstrap grid which makes it completely dynamic. 
            	Infigo sports 20+ business snippets and 20+ eCommerce snippets making Infigo the best and most dynamic 
            	Odoo theme for business and eCommerce.Encompassed with useful features like 3 Attractive Home Page Layouts, 
            	a Unique Megastore Layout, Ajax based Product Loading, Customisable Mega Menu Layouts, 
            	6 different Color Schemes, Navigating next and previous items in Product Page, 
            	Category wise Global Search in Header etc. 
            	Use Infigo to create your own Odoo eCommerce store and customize it as much as you want 
            	with above-mentioned features within a few clicks which would have taken months to build otherwise. 
            	Install this Stunningly beautiful and equally functional Odoo theme to have your eCommerce 
            	store stand out from the rest and bring more sales.
            </p>
                
        <div class="oe_mt32" >
            <img class="img img-responsive" src="3.jpg" />
        </div>
        
        <div class="oe_mt64" >
            <img class="img img-responsive" src="1.png" />
        </div>
        
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" >Landing Page</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="1.jpg" />
	        </div>
	         <h2 class="oe_slogan" >Mega Store Layout</h2>
	        <div class="oe_mt32" >
	            <img class="img img-responsive" src="9.jpg" />
	        </div>
    </div>
</section>
<section class="container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" >Customise Infigo and have it as per your way</h2>
        
            <p class="oe_mt16" style="line-height: 190%;">
           Theme Infigo gives you full flexibility to personalize the theme by ability to change
            theme color from the front-end. Without any kind of technical knowledge, you can change theme color from 
            6 preset color schemes. 
            </p>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="customise.jpeg" />
	        </div> 
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Header</h2>
        	<div class="oe_mt32">
        		
	            <img class="img img-responsive" src="2.jpeg" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Mega Menu</h2>
        	<div class="oe_mt32">
        		<strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 1</strong>
	            <img class="img img-responsive" src="6.jpeg" />
	        </div>
	        
	        <div class="oe_mt32">
	            <strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 2</strong>
	            <img class="img img-responsive" src="7.jpeg" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Category Page</h2>
        	<div class="oe_mt32">
	            <img class="img img-responsive" src="8.jpeg" />
	        </div>
	    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Product Page</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="13.jpeg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" >Cart Page</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="5.jpg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Wishlist</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="11.jpeg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Product Carousel</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="12.jpg"/>
	        </div>
	        <div class="oe_mt32">
	            <img class="img img-responsive" src="17.jpg" />
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Customer Review Carousel</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="13.jpg"/>
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Employee Carousel</h2>
        	<div class="oe_mt32">
	            <img class="img img-responsive" src="14.jpg"/>
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Portfolio</h2>
        	<div class="oe_mt32">
        	
	            <img class="img img-responsive" src="18.jpg" />
	            
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Latest Blogs</h2>
        	<div class="oe_mt32" >
				<strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 1</strong>
	            <img class="img img-responsive" src="15.jpg"/>
	        </div>
	        <div class="oe_mt32">
				<strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 2</strong>
	            <img class="img img-responsive" src="16.jpg" />
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Pricing Table</h2>
        	<div class="oe_mt32">
        		<strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 1</strong>
	            <img class="img img-responsive" src="19.jpg" />
	        </div>
	        <div class="oe_mt32">
	            <strong style="font-size:20px;padding:10px 0;color: #817f7f;">Style - 2</strong>
	            <img class="img img-responsive" src="20.jpg" />
	        </div>
	     
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" >Product Compare</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="4.jpeg" />
	        </div>
    </div>
</section>




<section class="container">
    <div class="oe_row oe_spaced" >
      <h2 class="oe_slogan" >Custom CMS Building Blocks</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="10.jpeg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
      <h2 class="oe_slogan" style="color:#875A7B;">Infigo is Fully Mobile Responsive</h2>
      
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="21.jpg" />
	        </div>
	        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="22.jpg" />
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
      <h2 class="oe_slogan" style="color:#875A7B;">Video Tutorials</h2>
       <ul class="oe_mt32" style="color:#fff;font-size:18px;list-style: inside;">
		
		   <li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/TgOaP1JuJOs" target="_blank" style="color:#fff; display:inline-block;width:95%;"><strong>How to install emipro Odoo eCommerce Theme</strong></a>
			</li>
		
			
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/wCeHpKR4RU0" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Product Carousel</strong></a>
			</li>
			
			
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;"></a>
				<a href="https://www.youtube.com/embed/SYf6QsH8TK8" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Show Attribute in Product Category</strong>
			</li>
		
			
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/HUYnptmYH9M" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Product Notification in Wishlist</strong></a>
			</li>
		
			
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/t0ce4S7KnZo" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>How to Customize Category Page</strong></a>
			</li>
			
		
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/C_5FtuOryBM" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>How to Design your Custom Megamenu</strong></a>
			</li>

			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/QjsT-bhqmAE" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Set-up Product Notification in Header</strong></a>
			</li>
			
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/KpM10vKZXFQ" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Search by Brands in Category Page</strong></a>
			</li>
		
			<li class="video_text oe_mb16" style="line-height:180%;background-color: #7b92de;padding:2%;">
				<a href="https://www.youtube.com/embed/hCLFZlbY2h0" target="_blank" style="color:#fff;display:inline-block;width:95%;"><strong>Portfolio CMS Building Block for Odoo Website</strong></a>
			</li>
       </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
      <h2 class="oe_slogan" style="color:#875A7B;">Manage Coupon Code in Odoo eCommerce</h2>
        <p class="oe_mt16" style="line-height: 190%;">
            	Using our custom Coupon Code app, you can easily manage offering
            	 attractive discount coupons to your customers 
            	 in Odoo eCommerce. With this application, 
            	 you can customise discount offers in more ways than you can imagine! For more information, click on below image,
            </p>
        	<div class="oe_mt32">
				<a href="https://www.odoo.com/apps/modules/11.0/ecommerce_promotion_ept/" target="_blank">
	            <img class="img img-responsive" src="coupon.jpeg" />
	            </a>
	        </div>
    </div>
</section>


<!-- fabula-->
<section class="container">
    <div class="oe_row oe_spaced" >
		<h2 class="oe_slogan" style="color:#875A7B;">Fabula - Odoo Live Chat</h2>
        <p class="oe_mt16" style="line-height: 190%;">
            	Odoo’s default live chat feature is not fully compatible with other populer live chat tools like Tawk.to, Zendesk Chat, Freshdesk etc.. We have customised Odoo Live chat with many more awesome features that will make Odoo live chat usable as commercially at your Online Store. For more information click on below video,
         </p>
		<div class="oe_mt32">
			<a href="https://www.youtube.com/watch?v=Keq22LGk_1M" target="_blank"><img src="fabula.jpeg" class="img img-responsive" style="margin:0px auto;"></img></a>
		</div>
	</div>
</section>
<section class="container">
    <div class="oe_row oe_spaced" style="width:100%">
             <div class="contct_us_btn" style="margin: 0 auto;display: block;width: 20%;text-align: center;">
            	<a  style="color:white;font-size:20px;background-color: #087dda;padding: 7px;display: inline-block;width: 100%;"  href="https://www.odoo.com/apps/modules/11.0/fabula_livechat/" target="_blank">View Features</a>
            </div>
    </div>
</section>
<!-- luceat-->
<section class="container">
    <div class="oe_row oe_spaced" >
      <h2 class="oe_slogan" style="color:#875A7B;">Luceat - Enterprise eCommerce</h2>
		 <p class="oe_mt16" style="line-height: 190%;">
            	Luceat, an Enterprise eCommerce platform is designed and developed keeping in mind, the existing and future needs of the global eCommerce market. Luceat includes all the systems like Inventory, Sales, Catalog, POS, CRM, Accounting and much more in a single unified environment. Whether you sell Online, on Amazon or eBay, on your Physical Stores or using Third Party Logistics, Luceat has you covered. It will automatically aggregate orders from all your Sale Channels at one place. Luceat is fully integrated with Marketplaces and Third Party Logistics so that you can start selling on major Marketplaces like Amazon, eBay in no time with Luceat. For more information click on below video, 
         </p>
         <div class="oe_mt32">
			<a href="https://www.youtube.com/watch?v=JBiCQfke12c" target="_blank"><img src="luceat.jpg" class="img img-responsive"></img></a>
		 </div>
    </div>
</section>
<section class="container">
    <div class="oe_row oe_spaced" style="width:100%">
             <div class="contct_us_btn" style="margin: 0 auto;display: block;width: 20%;text-align: center;">
            	<a style="color:white;font-size:20px;background-color: #087dda;padding: 7px;display: inline-block;width: 100%;"  href="http://emiprotechnologies.com/luceat" target="_blank">View Features</a>
            </div>
    </div>
</section>

<section class="container">
	<div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">Our Other Odoo Themes</h2>
        	<div class="row"  style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-6 mt16">
					 <a href="https://goo.gl/t1TQtS" target="_blank"><img class="img img-responsive" src="ThemeClarico.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-6 mt16">
					 <a href="https://goo.gl/9kEpum" target="_blank"><img class="img img-responsive" src="ThemeBellus.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>		
			</div>
			<div class="row mt32"  style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-6 mt16">
					 <a href="https://goo.gl/5NDfs5" target="_blank"><img class="img img-responsive" src="ThemeHonos.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-6 mt16">
					 <a href="https://goo.gl/sbenLs" target="_blank"><img class="img img-responsive" src="ThemeOctra.jpeg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
			</div>
    </div>
</section>
<section class="container">
    <div class="oe_row oe_spaced" >
        	<div class="mt64" >
	            <a href="http://www.emiprotechnologies.com/odoo-ecommerce-development" target="_blank"><img class="img img-responsive" src="ecommerce.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;margin: 0 auto;"/></a>
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style="width:100%">
            <div class="contct_us_btn" style="margin: 0 auto;display: block;width: 20%;text-align: center;">
            	<a  style="color:white;font-size:20px;background-color: #087dda;padding: 7px;display: inline-block;width: 100%;"  href="http://www.emiprotechnologies.com/requestquote" target="_blank">Contact Us</a>
            </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" style="color:#875A7B;margin-top: 15px;margin-bottom: 0;">Frequently asked questions</h2>
        <div class="col-md-8 col-md-offset-2 oe_mt32" style="width:100%;margin: 0 auto;padding: 10px 16px;">
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;">1) Do you Provide Odoo eCommerce Implementation Services too ?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">Yes, Our team is build up of several senior Odoo experts, eCommerce analysts and web designers holding the experience of many years in Odoo, and thanks to this we can offer you professional services at the highest level. Whether it is setting up the products with striking images and content, configuring payment methods, designing streamlined landing pages, optimizing site speed for lightning experience,or offering digital marketing services, our specialists are right here to serve you with supreme expertise in various areas. </p>
            </div>
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;">2) I want to Customise the Theme according to my need, Can I do that ?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">Yes, Infigo is fully Customisable according to your business need. You can Customise to any extent needed. However you can hire an Emipro Design Expert to customize your theme and let you focus on other important parts of your business.</p>
            </div>
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;">3) Can I Resell this Theme ?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">No, Purchased Theme is for your commercial use only. You may not include the original theme including Source Code, Logo, Images etc.. in any distributed end products. Emipro owns full Copyright of Source Code, Logo and Images which are used in this Theme.</p>
            </div>
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;">4) Will I get the Demo data or PSD files with this theme ?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">No, you will not get any Images, PSD or demo data which is used to showcase the sample blocks in this Theme.</p>
            </div>
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;">5) What is Support Policy of this Theme ?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">In case of if any bug raised in our listed features of this theme, we're committed to provide support free of cost. You will need to provide us server ssh access or database access in order to solve the issue. We provide paid support for special requirements like Theme Installation, Configuration &amp; Customization according to your need.</p>
            </div>
            <div class="faq_questions oe_mb32" style="line-height:180%;">
            	<strong class="question" style="font-size:20px;"> 6) Do I get free upgrades for this theme?</strong>
            	<p class="ans" style="margin-left: 3%;margin-top: 1%;line-height: 190%;">YES! If you buy the theme for one Odoo version, you can get theme for any other available Odoo version for free. If there is a price difference between two versions, you are required to pay the price difference between two themes.</p>
            </div>
        </div>
    </div>
</section>

</section>
